!!!
%html{:lang => "en"}

	= Haml::Engine.new(File.read("dev/haml/partials/_doc_head.haml")).render

	%body#page_error.page_error

		= Haml::Engine.new(File.read("dev/haml/partials/_html_header.haml")).render

		%main{:role => "main"}

			%section.page_articles.why_articles{"data-container" => "width-padding_1440"}

				%article

					%div{"data-container" => "width_868"}

						.wrap_svg.article_svg
							%svg.svg_ui-safety
								%use{"xlink:href" => "#ui_safety"}

						%h2 Page not found!

						%p
							:plain
								It appears the page you are looking for does not exist. Please return to <a href="index.html" title="Return Home">northman.co</a> or <a href="mailto:info@northman.co" title="Send us an email">shoot us an email</a> if you can&apos;t find what you&apos;re looking for. We&apos;d be happy to help.

						%a.btn_rnd.brd_orange{:href => "mailto:info@northman.co", :title => "Get In Touch"} Get In Touch

		= Haml::Engine.new(File.read("dev/haml/partials/_html_footer.haml")).render