!!!
/[if IE 9] <html class="ie9" lang="en">
<!--[if gt IE 9]><!-->
%html{:lang => "en"}<>
	<!--<![endif]-->

	= Haml::Engine.new(File.read("dev/haml/partials/_doc_head.haml")).render

	%body#whats-covered.page-template-tpl-coverage-php

		= Haml::Engine.new(File.read("dev/haml/partials/_html_header.haml")).render

		%main{:role => "main"}

			%section.page_header.internal_header{:style => "background-image: url('assets/img/bg_coverage.jpg')"}

				.wrap_svg.icon
					%svg.ui_coverage.svg_inline{:viewBox => "0 0 64 64"}
						%use{"xlink:href" => "#ui_coverage"}

				%h1.visuallyhidden What's Covered
				.wrap_svg.title{:style => "max-width: 83.4rem"}
					%svg.nm_coverage.svg_inline{:viewBox => "0 0 834 53"}
						%use{"xlink:href" => "#nm_coverage"}

			%section.page_callout{:style => "background-image: url('assets/img/callout_coverage.png')"}

				%article{"data-container" => "width_868"}

					%h2 Pretty Much Everything
					%p Our goal is to cover more sports and activities than any other insurance package available. To do this, we’ve built a policy that covers those who want to spend their vacation time on the links or on the slopes. Whether you’re an elite athlete or just someone who wants to wander off the beaten path, you’re covered.

					%a.btn_rnd.brd_cream.modal_open{:href => "#modal_quote", :title => "Get A Quote"} Get A Quote

			%section.page_articles.whats-covered_articles{"data-container" => "width-padding_1440"}

				%article

					%div.clearfix{"data-container" => "width_720"}

						.wrap_svg.article_svg
							%svg.ui_umbrella-down{:viewBox => "0 0 64 64"}
								%use{"xlink:href" => "#ui_umbrella-down"}

						%h2 What We Cover
						%p We cover so many sports and activities, we can’t list them all. Use this handy tool to find the sport or activity relevant to your next trip.

					%form#form_coverage.form_coverage.has_typeahead

						.clearfix

							.wrap_element.wrap_input-typeahead
								%input#input_coverage.input_typeahead{:type => "text", :name => "input_coverage", :value => "", :required => true, :placeholder => "Enter a sport or activity", "data-placeholder2" => "Could not load covered activities", "data-placeholder3" => "Retreiving activities...", "data-placeholder4" => "Unrecognized activity", "data-src" => "assets/js/datalist_activities.json"}

							%button#form_toggle.btn_rnd.brd_orange{:type => "button"} Is it covered?

						#form_response.form_response
							#response_success.response_success
								%svg.ui_checkmark-thin{:viewBox => "0 0 64 64"}
									%use{"xlink:href" => "#ui_checkmark-thin"}
								%h4 Yep, It's Covered.
							#response_fail.response_fail
								%svg.ui_cancel{:viewBox => "0 0 64 64"}
									%use{"xlink:href" => "#ui_cancel"}
								:plain
									<h4>Not covered (maybe). Give us a call at <span>+1 (844) 207-7522</span> and we’ll try to help.</h4>

				%article

					%div{"data-container" => "width_868"}

						.wrap_svg.article_svg
							%svg.ui_umbrella-up{:viewBox => "0 0 64 64"}
								%use{"xlink:href" => "#ui_umbrella-up"}

						%h2 What We Don't Cover
						%p We cover just about every activity, but there are a few you’ll need to talk to us about:

						%ol
							%li Injury or sickness while scuba diving unless you are certified by an internationally recognized and accepted program (including but not limited to NAUI, PADI).
							%li Your participation in, training or practicing for any sport as a professional athlete or while participating in, training or practicing for any motorized speed contest; rodeo, show jumping or horse racing.

						:plain
							<p>For more detail, please review our <a href="assets/files/freedom_policywording_2014.pdf" title="Policy Manual" target="_blank">Policy Manual</a>, or <a href="tel:+1-844-207-7522" title="Give us a call">give us a call.</a></p>

						%a.btn_rnd.brd_orange.modal_open{:href => "#modal_quote", :title => "Get A Quote"} Get A Quote

		= Haml::Engine.new(File.read("dev/haml/partials/_form_quote-modal.haml")).render

		= Haml::Engine.new(File.read("dev/haml/partials/_html_footer.haml")).render