!!!
%html{:lang => "en"}

	= Haml::Engine.new(File.read("dev/haml/partials/_doc_head.haml")).render

	%body#page_home.page_home

		= Haml::Engine.new(File.read("dev/haml/partials/_html_header.haml")).render

		%main{:role => "main"}

			%section.home_header

				%h1.visuallyhidden Insurance For The Wild.
				.wrap_svg
					%svg.svg_nm-tagline{:viewbox => "0 0 723 298"}
						%use{"xlink:href" => "#nm_tagline"}

				%form#form_destination.form_destination.has_typeahead

					%fieldset

						%legend Start by telling us what country you’re travelling to.

						.wrap_element.wrap_input-typeahead
							%input#input_destination.input_typeahead{:type => "text", :name => "input_destination", :value => "", :required => true, :placeholder => "Enter your destination", "data-placeholder2" => "Could not load covered Countries", "data-placeholder3" => "Retreiving countries...", "data-placeholder4" => "Unrecognized country", "data-src" => "assets/js/datalist_countries.json"}
							%svg.svg_ui-globe
								%use{"xlink:href" => "#ui_globe"}

						%button#form_toggle.btn_rnd.brd_cream{:type => "button"} Get A Quote

			= Haml::Engine.new(File.read("dev/haml/partials/_form_quote.haml")).render

			%section.page_articles.home_articles{"data-container" => "width-padding_1440"}

				%article.details_why

					%div{"data-container" => "width_868"}

						.wrap_svg.article_svg
							%svg.svg_nm-logo
								%use{"xlink:href" => "#nm_logo"}

						%h2 Why Northman?
						%p Our coverage is designed for those with a sense of adventure. Those who travel to see the world from a different perspective, not a different swimming pool. Whether you’re zip-lining in Mexico or mountain biking across Africa, you’re covered, plain and simple.

						%a.btn_rnd.brd_orange{:href => "#", :title => "Find Out More"} Find Out More

				%article.details_packages

					%div{"data-container" => "width_868"}

						.wrap_svg.article_svg
							%svg.svg_ui-package
								%use{"xlink:href" => "#ui_package"}

						%h2 Packages
						%p We have a package for just about everyone. We offer single-trip coverage or yearly memberships for frequent travellers, and we can insure a single person or a whole family under one policy. Pick what’s right for you, and if you can’t find it, we’ll help you.

						%a.btn_rnd.brd_orange{:href => "#", :title => "Choose Your Package"} Choose Your Package

				%article.details_coverage

					%div{"data-container" => "width_868"}

						.wrap_svg.article_svg
							%svg.svg_ui-coverage
								%use{"xlink:href" => "#ui_coverage"}

						%h2 What's Covered
						%p If you can (legally) do it, we can cover it. It would be easier to list what we don’t cover, but here are some of the highlights:

					%ul{"data-container" => "width_1050"}
						%li Adventure Racing
						%li Arctic and Antarctic Expedition
						%li Canoeing &amp; Kayakin
						%li Climbing
						%li Diving &amp; Scuba Diving
						%li Extreme Sports
						%li Freeride
						%li Golf
						%li Helicopter Skiing &amp; Heliboarding
						%li Marathon, Ultra Marathon &amp; Iron Man
						%li Megavalanche
						%li Mountain / Downhill Mountain Biking
						%li Mountaineering
						%li Parapenting &amp; Paragliding
						%li Roller Derby
						%li Sailing &amp; Offshore Sailing
						%li Storm Chasing
						%li Ski
						%li Ski Mountaineering
						%li Off-Piste Skiing &amp; Snowboarding
						%li Winter Sports

					%a.btn_rnd.brd_orange{:href => "#", :title => "The Full List"} The Full List

		= Haml::Engine.new(File.read("dev/haml/partials/_html_footer.haml")).render