!!!
%html{:lang => "en"}

	= Haml::Engine.new(File.read("dev/haml/partials/_doc_head.haml")).render

	%body#page_home

		= Haml::Engine.new(File.read("dev/haml/partials/_html_header.haml")).render

		%main{:role => "main"}

			%section.home_intro

				%h1.visuallyhidden Insurance For The Wild.
				.wrap_img
					%img.temp_tagline{:src => "assets/img/temp_tagline.png", :alt => "Insurance For The Wild"}

				-# .wrap_svg
					-# %svg.svg_nm-tagline
						-# %use{"xlink:href" => "#nm_tagline"}

				%form#form_home.form_home.has_dropdown

					%label{:for => "select_location"} Where are you going?

					.wrap_select{"data-selected" => ""}

						%select#select_location{:name => "select_location"}
							%option{:value => "location_ottawa-canada"} Ottawa, Canada
							%option{:value => "location_toronto-canada"} Toronto, Canada
							%option{:value => "location_berlin-germany"} Berlin, Germany
							%option{:value => "location_mexicocity-mexico"} Mexico City, Mexico
							%option{:value => "location_boston-usa"} Boston, USA
							%option{:value => "location_newyork-usa"} New York, USA
							%option{:value => "location_zurich-switzerland"} Z&uuml;rich, Switzerland

						.dropdown_toggle
							%span.dropdown_placeholder.truncate Select Your Destination
							%svg.svg_ui-globe
								%use{"xlink:href" => "#ui_globe"}

						.wrap_scroll-list{"data-maxheight" => "320"}
							%ul.dropdown_list
								%li.dropdown_option
									%a.dropdown_link{:href => "#", "data-value" => "location_ottawa-canada"} Ottawa, Canada
								%li.dropdown_option
									%a.dropdown_link{:href => "#", "data-value" => "location_toronto-canada"} Toronto, Canada
								%li.dropdown_option.disabled
									%a.dropdown_link{:href => "#", "data-value" => "location_berlin-germany"} Berlin, Germany
								%li.dropdown_option.disabled
									%a.dropdown_link{:href => "#", "data-value" => "location_mexicocity-mexico"} Mexico City, Mexico
								%li.dropdown_option
									%a.dropdown_link{:href => "#", "data-value" => "location_boston-usa"} Boston, USA
								%li.dropdown_option
									%a.dropdown_link{:href => "#", "data-value" => "location_newyork-usa"} New York, USA
								%li.dropdown_option.disabled
									%a.dropdown_link{:href => "#", "data-value" => "location_zurich-switzerland"} Zürich, Switzerland

					%button#submit_home.submit_home.btn_rnd.btn_cream{:type => "button"} Get A Price

			%section.home_details{"data-container" => "width-1440"}

				%article.details_why

					.wrap_svg
						%svg.svg_nm-logo
							%use{"xlink:href" => "#nm_logo"}

					%h2 Why Northman?
					%p Our coverage is designed for those with a sense of adventure. Those who travel to see the world from a different perspective, not a different swimming pool. Whether you’re zip-lining in Mexico or mountain biking across Africa, you’re covered, plain and simple.

					%a.btn_rnd.btn_orange{:href => "#", :title => "Find Out More"} Find Out More

				%article.details_packages

					.wrap_svg
						%svg.svg_ui-package
							%use{"xlink:href" => "#ui_package"}

					%h2 Packages
					%p We have a package for just about everyone. We offer single-trip coverage or yearly memberships for frequent travellers, and we can insure a single person or a whole family under one policy. Pick what’s right for you, and if you can’t find it, we’ll help you.

					%a.btn_rnd.btn_orange{:href => "#", :title => "Choose Your Package"} Choose Your Package

				%article.details_coverage

					.wrap_svg
						%svg.svg_ui-coverage
							%use{"xlink:href" => "#ui_coverage"}

					%h2 What's Covered
					%p If you can (legally) do it, we can cover it. It would be easier to list what we don’t cover, but here are some of the highlights:

					%ul
						%li Adventure Racing
						%li Arctic and Antarctic Expedition
						%li Canoeing &amp; Kayakin
						%li Climbing
						%li Diving &amp; Scuba Diving
						%li Extreme Sports
						%li Freeride
						%li Golf
						%li Helicopter Skiing &amp; Heliboarding
						%li Marathon, Ultra Marathon &amp; Iron Man
						%li Megavalanche
						%li Mountain / Downhill Mountain Biking
						%li Mountaineering
						%li Parapenting &amp; Paragliding
						%li Roller Derby
						%li Sailing &amp; Offshore Sailing
						%li Storm Chasing
						%li Ski
						%li Ski Mountaineering
						%li Off-Piste Skiing &amp; Snowboarding
						%li Winter Sports

					%a.btn_rnd.btn_orange{:href => "#", :title => "The Full List"} The Full List

		= Haml::Engine.new(File.read("dev/haml/partials/_html_footer.haml")).render