!!!
/[if IE 9] <html class="ie9" lang="en">
<!--[if gt IE 9]><!-->
%html{:lang => "en"}<>
	<!--<![endif]-->

	= Haml::Engine.new(File.read("dev/haml/partials/_doc_head.haml")).render

	%body#page_partners.page_partners

		= Haml::Engine.new(File.read("dev/haml/partials/_html_header.haml")).render

		%main{:role => "main"}

			%section.page_header.partners_header

				.wrap_svg.icon
					%svg.svg_ui-partners{:viewbox => "0 0 64 64"}
						%use{"xlink:href" => "#ui_partners"}

				%h1.visuallyhidden Partners
				.wrap_svg.title
					%svg.svg_nm-partners{:viewbox => "0 0 740 47"}
						%use{"xlink:href" => "#nm_partners"}

			%section.page_articles.partners_articles{"data-container" => "width-padding_1440"}

				%article.ambassadors

					%div{"data-container" => "width_720"}

						%h2 Partners &amp; Ambassadors
						%p
							At the the core of our businesses is the partnerships we establish with like-minded companies, associations and adventure seekers. We want to reward our tribe for sharing our company and protecting other adventurers. If you’d like to qualify for the partnership or ambassador program, send us an email at:
							%a{:href => "mailto:hello@northman.co", :title => "Email us"} hello@northman.co
						%ul
							%li We provide the best possible coverage, period.
							%li Our technology base allows for easy tracking and monitoring of traffic.
							%li We can integrate directly with your site or provide promotional codes.
							%li We manage everything for you and pay dividends for every policy you sell.
						%p If you’re an adventure writer, athlete or professional association that’s interested in providing customized athletic coverage for your members or readers, get in touch for additional information or to discuss creative partnership ideas.
						%p We're looking forward to working with you!

		= Haml::Engine.new(File.read("dev/haml/partials/_html_footer.haml")).render