!!!
/[if IE 9] <html class="ie9" lang="en">
<!--[if gt IE 9]><!-->
%html{:lang => "en"}<>
	<!--<![endif]-->

	= Haml::Engine.new(File.read("dev/haml/partials/_doc_head.haml")).render

	%body#page_quote.page_quote

		= Haml::Engine.new(File.read("dev/haml/partials/_html_header.haml")).render

		%main{:role => "main"}

			%section.page_header.quote_header

				-# .wrap_svg.icon
					-# %svg.svg_nm-logo{:viewbox => "0 0 64 64"}
						-# %use{"xlink:href" => "#nm_logo"}

				%h1.visuallyhidden Get a Quote
				.wrap_svg.title
					%svg.svg_nm-quote{:viewbox => "0 0 706 70"}
						%use{"xlink:href" => "#nm_quote"}

			%section#quote_articles.page_articles.quote_articles{"data-container" => "width-padding_1440"}

				%article.quote_options

					%div.clearfix{"data-container" => "width_868"}

						%h2 Based on your information, here’s your quote:

						.error_message
							%p Please select a quote.

						%ul.quote_badges.list_badges.clearfix

							-# If landing on Quote with Family checked:
								-# #quote_title-1 = "Family Trip"
								-# #quote_title-2 = "Annual Family Membership"
								-# price is ???
							-# else:
								-# #quote_title-1 = "Single Trip"
								-# #quote_title-2 = "Annual Membership"
								-# price is ???

							%li#quote_badge-1.badge.badge_single

								.badge_header

									%h6#quote_title-1 Single Trip
									.wrap_svg
										%svg.svg_ui-globe{:viewbox => "0 0 64 64"}
											%use{"xlink:href" => "#ui_globe"}

								.badge_body

									%h3
										$135
										%span.currency can

									:plain
										<a href="#" class="btn_rnd brd_blank" title="Select">
											<span class="txt_select">Select<span class="txt_ed">ed</span></span>
										</a>

							%li#quote_badge-2.badge.badge_annual

								.badge_header

									%h6#quote_title-2 Annual Membership
									.wrap_svg
										%svg.svg_ui-globe-double{:viewbox => "0 0 64 38"}
											%use{"xlink:href" => "#ui_globe-double"}

								.badge_body

									%h3
										$210
										%span.currency can

									:plain
										<a href="#" class="btn_rnd brd_blank" title="Select">
											<span class="txt_select">Select<span class="txt_ed">ed</span></span>
										</a>

						%p.notice * Annual Membership does not include baggage insurance.

				%article.quote_details

					%div{"data-container" => "width_868"}

						.details_captured.clearfix

							%ul
								%li
									%strong Province of Residence:
									Ontario
								%li
									%strong Start Date:
									Nov 6, 2015
								%li
									%strong End Date:
									Nov 11, 2015
								%li
									%strong Trip Length:
									35 days
								%li
									%strong Family:
									Yes
								%li
									%strong Covered for:
									5 days
								%li
									%strong Age(s):
									18, 19, 34, 41
								%li
									%strong Trip Cancellation:
									$3,000
								%li
									%strong Trip Delay:
									$25,000

							%a.btn_rnd.brd_orange.modal_open{:href => "#modal_quote", :title => "Edit Details"} Edit Details

						%h2 Single Trip Coverage Includes:

						.accordian

							.accordian_row
								.accordian_header
									%h4 Emergency Medical and Evacuation Coverage $5,000,000 per trip
									%a.accordian_toggle{:href => "#", :title => "Expand"}
										.wrap_svg
											%svg.svg_ui-arrow-down
												%use{"xlink:href" => "#ui_arrow-down"}
								.accordian_body
									%p Our coverage is designed for those with a sense of adventure. Those who travel to see the world from a different perspective, not a different swimming pool. Whether you’re zip-lining in Mexico or mountain biking across Africa, you’re covered, plain and simple.

							.accordian_row
								.accordian_header
									%h4 Accidental Death and Dismemberment
									%a.accordian_toggle{:href => "#", :title => "Expand"}
										.wrap_svg
											%svg.svg_ui-arrow-down
												%use{"xlink:href" => "#ui_arrow-down"}
								.accordian_body
									%p Our coverage is designed for those with a sense of adventure. Those who travel to see the world from a different perspective, not a different swimming pool. Whether you’re zip-lining in Mexico or mountain biking across Africa, you’re covered, plain and simple.

							.accordian_row
								.accordian_header
									%h4 Trip Cancelation and Delay
									%a.accordian_toggle{:href => "#", :title => "Expand"}
										.wrap_svg
											%svg.svg_ui-arrow-down
												%use{"xlink:href" => "#ui_arrow-down"}
								.accordian_body
									%p Our coverage is designed for those with a sense of adventure. Those who travel to see the world from a different perspective, not a different swimming pool. Whether you’re zip-lining in Mexico or mountain biking across Africa, you’re covered, plain and simple.

							.accordian_row
								.accordian_header
									%h4 Baggage Coverage
									%a.accordian_toggle{:href => "#", :title => "Expand"}
										.wrap_svg
											%svg.svg_ui-arrow-down
												%use{"xlink:href" => "#ui_arrow-down"}
								.accordian_body
									%p Our coverage is designed for those with a sense of adventure. Those who travel to see the world from a different perspective, not a different swimming pool. Whether you’re zip-lining in Mexico or mountain biking across Africa, you’re covered, plain and simple.

						%a.btn_rnd.brd_orange{:href => "coverage.html", :title => "Full Coverage List"} Full Coverage List

				%article.quote_summary

					%div{"data-container" => "width_868"}

						%h2 Quote Summary

						%table

							%tbody

								%tr
									%td Northman Single Trip / Non-Family
									%td $135.00

								%tr
									%td HST
									%td $18.00

								%tr
									%td Admin Fee
									%td $2.00

								%tr
									%td Total (CAN)
									%td $153.00

						-# might need to be a <button>? should find out more from Matt about how this should work...
						-# currently using e.preventDefault() on this button if no quote selection
						-# also relying on "title" attribute to retrieve default "Buy Now" string
						%a#quote_submit.btn_rnd.brd_green{:href => "#", :title => "Buy Now"} Buy Now

		= Haml::Engine.new(File.read("dev/haml/partials/_form_quote-modal.haml")).render

		= Haml::Engine.new(File.read("dev/haml/partials/_html_footer.haml")).render