!!!
/[if IE 9] <html class="ie9" lang="en">
<!--[if gt IE 9]><!-->
%html{:lang => "en"}<>
	<!--<![endif]-->

	= Haml::Engine.new(File.read("dev/haml/partials/_doc_head.haml")).render

	%body#quote.page-template-tpl-quote-php

		= Haml::Engine.new(File.read("dev/haml/partials/_html_header.haml")).render

		-# 'data-step' changes based on current STEP
		%main{:role => "main", "data-step" => "1"}

			= Haml::Engine.new(File.read("dev/haml/partials/_quote_nav-steps.haml")).render

			%section#quote_articles.page_articles.internal_articles{"data-container" => "width-padding_1440"}

				-# article class + content changes based on current STEP
				%article.quote_choose

					-# :action and :method will need to be configured by Matt
					%form#form_quote-step1{:action => "", :method => "", "data-container" => "width_868"}

						:plain
							<h2>You're covered for your next adventure.<br> Select from one of the plans below:</h2>

						.error_message
							%p Please select a quote.

						%ul.quote_badges.list_badges.clearfix

							-# If landing on Quote with Family checked:
								-# #quote_title-1 = "Family Trip"
								-# #quote_title-2 = "Annual Family Membership"
								-# price is ???
							-# else:
								-# #quote_title-1 = "Single Trip"
								-# #quote_title-2 = "Annual Membership"
								-# price is ???

							%li#quote_badge-1.badge.badge_standard.badge_annual

								.badge_header

									%h6#quote_title-1 Annual Membership
									.wrap_svg
										%svg.svg_inline.ui_globe-double{:viewBox => "0 0 64 38"}
											%use{"xlink:href" => "#ui_globe-double"}

								.badge_body

									%h3
										%span.total $10
										%span.monthly / month

									%input#submit_annual.btn_rnd.brd_blank{:type => "submit", :name => "submit_annual", :value => "Select"}

								%p.notice Annual Membership includes unlimited travel per year.

							%li#quote_badge-2.badge.badge_standard.badge_single

								.badge_header

									%h6#quote_title-2 Single Trip
									.wrap_svg
										%svg.svg_inline.ui_globe{:viewBox => "0 0 64 64"}
											%use{"xlink:href" => "#ui_globe"}

								.badge_body

									%h3
										%span.total $135.15

									%input#submit_single.btn_rnd.brd_blank{:type => "submit", :name => "submit_single", :value => "Select"}

		= Haml::Engine.new(File.read("dev/haml/partials/_html_footer.haml")).render