!!!
%html{:lang => "en"}

	= Haml::Engine.new(File.read("dev/haml/partials/_doc_head.haml")).render

	%body#page_quote.page_quote

		= Haml::Engine.new(File.read("dev/haml/partials/_html_header.haml")).render

		%main{:role => "main"}

			%section.page_header.quote_header

				-# .wrap_svg.icon
					-# %svg.svg_nm-logo{:viewbox => "0 0 64 64"}
						-# %use{"xlink:href" => "#nm_logo"}

				%h1.visuallyhidden Get a Quote
				.wrap_svg.title
					%svg.svg_nm-quote{:viewbox => "0 0 706 70"}
						%use{"xlink:href" => "#nm_quote"}

			%section.page_articles.quote_articles{"data-container" => "width-padding_1440"}

				%article.quote_options

					%div.clearfix{"data-container" => "width_868"}

						%h2 Based on your information, here’s your quote:

						%ul.quote_badges.clearfix

							%li.badge.badge_single

								.badge_header

									%h6 Single Trip
									.wrap_svg
										%svg.svg_ui-globe{:viewbox => "0 0 64 64"}
											%use{"xlink:href" => "#ui_globe"}

								.badge_body

									%h3
										$135
										%span.currency can

									%a.btn_rnd.fill_green{:href => "#", :title => "Buy Now"} Buy Now

							%li.badge.badge_yearly

								.badge_header

									%h6 Yearly Membership
									.wrap_svg
										%svg.svg_ui-globe-double{:viewbox => "0 0 64 38"}
											%use{"xlink:href" => "#ui_globe-double"}

								.badge_body

									%h3
										$210
										%span.currency can

									%a.btn_rnd.brd_orange{:href => "#", :title => "Select"} Select

						%p.notice * Annual Membership does not include baggage insurance.

				%article.quote_details

					%div{"data-container" => "width_868"}

						.details_captured.clearfix

							%ul
								%li
									%strong Province of Residence:
									Ontario
								%li
									%strong Start Date:
									Nov 6, 2015
								%li
									%strong End Date:
									Nov 11, 2015
								%li
									%strong Family:
									No
								%li
									%strong Covered for:
									5 days
								%li
									%strong Age Limit:
									Under 60

							%a.btn_rnd.brd_orange.modal_open{:href => "#modal_quote", :title => "Edit Details"} Edit Details

						%h2 Single Trip Coverage Includes:

						.accordian

							.accordian_row
								.accordian_header
									%h4 Emergency Evacuation
									%a.accordian_toggle{:href => "#", :title => "Expand"}
										.wrap_svg
											%svg.svg_ui-arrow-down
												%use{"xlink:href" => "#ui_arrow-down"}
								.accordian_body
									%p Our coverage is designed for those with a sense of adventure. Those who travel to see the world from a different perspective, not a different swimming pool. Whether you’re zip-lining in Mexico or mountain biking across Africa, you’re covered, plain and simple.

							.accordian_row
								.accordian_header
									%h4 Crocodile Safety
									%a.accordian_toggle{:href => "#", :title => "Expand"}
										.wrap_svg
											%svg.svg_ui-arrow-down
												%use{"xlink:href" => "#ui_arrow-down"}
								.accordian_body
									%p Our coverage is designed for those with a sense of adventure. Those who travel to see the world from a different perspective, not a different swimming pool. Whether you’re zip-lining in Mexico or mountain biking across Africa, you’re covered, plain and simple.

							.accordian_row
								.accordian_header
									%h4 Trip Cancellation and Trip Delay Coverage
									%a.accordian_toggle{:href => "#", :title => "Expand"}
										.wrap_svg
											%svg.svg_ui-arrow-down
												%use{"xlink:href" => "#ui_arrow-down"}
								.accordian_body
									%p Our coverage is designed for those with a sense of adventure. Those who travel to see the world from a different perspective, not a different swimming pool. Whether you’re zip-lining in Mexico or mountain biking across Africa, you’re covered, plain and simple.

						%a.btn_rnd.brd_orange{:href => "#", :title => "Full Coverage List"} Full Coverage List

				%article.quote_summary

					%div{"data-container" => "width_868"}

						%h2 Quote Summary

						%table

							%tbody

								%tr
									%td Northman Single Trip / Non-Family
									%td $135.00

								%tr
									%td HST
									%td $18.00

								%tr
									%td Total (CAN)
									%td $153.00

						%a.btn_rnd.brd_green{:href => "#", :title => "Buy Now"} Buy Now

		%aside#modal_quote.modal_quote{"data-modal" => "inactive"}
			.modal_body
				= Haml::Engine.new(File.read("dev/haml/partials/_form_quote-modal.haml")).render

		= Haml::Engine.new(File.read("dev/haml/partials/_html_footer.haml")).render