!!!
/[if IE 9] <html class="ie9" lang="en">
<!--[if gt IE 9]><!-->
%html{:lang => "en"}<>
	<!--<![endif]-->

	= Haml::Engine.new(File.read("dev/haml/partials/_doc_head.haml")).render

	%body#support.page-template-tpl-support-php

		= Haml::Engine.new(File.read("dev/haml/partials/_html_header.haml")).render

		%main{:role => "main"}

			%section.page_header.internal_header{:style => "background-image: url('assets/img/bg_support.jpg')"}

				.wrap_svg.icon
					%svg.ui_support{:viewBox => "0 0 64 64"}
						%use{"xlink:href" => "#ui_support"}

				%h1.visuallyhidden Why Northman
				.wrap_svg.title{:style => "max-width: 40.9rem"}
					%svg.svg_inline.nm_support{:viewBox => "0 0 409 53"}
						%use{"xlink:href" => "#nm_support"}

			%section.page_callout{:style => "background-image: url('assets/img/callout_support.png')"}

				%article{"data-container" => "width_868"}

					%h2 We’re here
					%p
						If you have any questions about your coverage, or need to get in touch with a claims specialist,
						%span.break &nbsp;
						here are all the ways you can reach us.

			%section.page_articles.internal_articles{"data-container" => "width-padding_1440"}

				%article

					%div.clearfix{"data-container" => true}

						.wrap_svg.article_svg
							%svg.ui_phone{:viewBox => "0 0 64 64"}
								%use{"xlink:href" => "#ui_phone"}

						%h2 Telephone
						%p
							Call toll-free from within Canada and the Continental U.S:
							%a{:href => "tel:+1-844-207-7522", :title => "1 (844) 207-7522"} +1 (844) 207-7522
						%p
							Call us collect from anywhere else in the world:
							%a{:href => "tel:+1-613-763-2366", :title => "1 (613) 763-2366"} +1 (613) 763-2366

				%article.support_contacts

					%div{"data-container" => "width_868"}

						%ul.list_svg
							%li.wrap_svg.article_svg.icon_mail
								%svg.svg_inline.ui_mail{:viewBox => "0 0 64 45"}
									%use{"xlink:href" => "#ui_mail"}
							%li.wrap_svg.article_svg.icon_twitter
								%svg.svg_inline.social_twitter-stroke{:viewBox => "0 0 64 46"}
									%use{"xlink:href" => "#social_twitter-stroke"}
							%li.wrap_svg.article_svg.icon_facebook
								%svg.svg_inline.social_facebook-stroke{:viewBox => "0 0 35 64"}
									%use{"xlink:href" => "#social_facebook-stroke"}

						%h2 Non-Emergency Contacts
						%p
							We know you may not always be able get to a phone.
							%span.break &nbsp;
							Here are other ways you can get in touch if you need help.

						%ul
							%li
								Email:
								%a.email_secret.email_support.email_replace{:href => "#", :title => "Email us"} email us
							%li
								Text Message:
								%a{:href => "sms:+1-613-763-2366", :title => "Text us"} +1 (613) 763-2366
							%li
								Twitter:
								%a{:href => "https://twitter.com/northmanco", :target => "_blank", :title => "Follow us on Twitter"} @northmanco
							%li
								Facebook:
								%a{:href => "https://www.facebook.com/northmanco", :target => "_blank", :title => "Like us on Facebook"} www.facebook.com/northmanco

				%article

					%div{"data-container" => "width_868"}

						.wrap_svg.article_svg
							%svg.ui_safety{:viewBox => "0 0 64 64"}
								%use{"xlink:href" => "#ui_safety"}

						%h2 Worldwide 24-hour Emergency Assistance

						:plain
							<p>Northman is here to help, wherever you are, whatever your need. If you need emergency assistance, please call the emergency contact <a href="tel:+1-844-207-7522" class="no_format" title="Call us">+1 (844) 207-7522</a>. This emergency service will take over for you. They will speak to the doctors, negotiate payment and get you home.</p>

						%p So we can best assist you, please be ready with the following:

						%ul
							%li.no_bullet Your policy number
							%li.no_bullet A contact number for where you are now
							%li.no_bullet The nature of your problem

						:plain
							<p>If you are unable to access this number from your location,<span class="break">&nbsp;</span> you can reverse charges via the local operator and contact us at: <a href="tel:+1-613-763-2366" title="Call us">+1 (613) 763-2366</a></p>

				%article

					%div{"data-container" => "width_868"}

						.wrap_svg.article_svg
							%svg.ui_dogtag{:viewBox => "0 0 64 64"}
								%use{"xlink:href" => "#ui_dogtag"}

						%h2 Don’t forget your ID TAG
						%p When you purchase a package with Northman you’ll be given an ID tag. Your ID tag is unique–it has your member number and the emergency call centre number. Wear your tag while traveling and emergency services will know exactly who to call.

		= Haml::Engine.new(File.read("dev/haml/partials/_html_footer.haml")).render