!!!
/[if IE 9] <html class="ie9" lang="en">
<!--[if gt IE 9]><!-->
%html{:lang => "en"}<>
	<!--<![endif]-->

	= Haml::Engine.new(File.read("dev/haml/partials/_doc_head.haml")).render

	%body#thanks.page-template-tpl-thanks-php

		= Haml::Engine.new(File.read("dev/haml/partials/_html_header.haml")).render

		%main{:role => "main"}

			%section.page_articles.thanks_articles{"data-container" => "width-padding_1440"}

				%article.thank-you

					%div{"data-container" => "width_720"}

						.wrap_svg.article_svg
							%svg.svg_ui-thumb
								%use{"xlink:href" => "#ui_thumb"}

						%h1 Done.
						%h2 You're Covered.

						%p You're officially covered for your trip as of this moment. All you need to do is hang on to your confirmation email, which has been sent to you. If you're a first time customer, a physical welcome package will arrive in the mail. Have a great trip!

						%a.btn_rnd.brd_cream{:href => "#", :title => "Back To Site"} Back To Site

		-# do not output <footer> for this page
		= Haml::Engine.new(File.read("dev/haml/partials/_html_footer.haml")).render