!!!
/[if IE 9] <html class="ie9" lang="en">
<!--[if gt IE 9]><!-->
%html{:lang => "en"}<>
	<!--<![endif]-->

	= Haml::Engine.new(File.read("dev/haml/partials/_doc_head.haml")).render

	%body#why-northman.page-template-tpl-why-php

		= Haml::Engine.new(File.read("dev/haml/partials/_html_header.haml")).render

		%main{:role => "main"}

			%section.page_header.why_header

				.wrap_svg.icon
					%svg.svg_nm-logo{:viewbox => "0 0 64 64"}
						%use{"xlink:href" => "#nm_logo"}

				%h1.visuallyhidden Why Northman
				.wrap_svg.title
					%svg.svg_nm-why{:viewbox => "0 0 772 53"}
						%use{"xlink:href" => "#nm_why"}

			%section.page_callout.why_callout

				%article{"data-container" => "width_868"}

					%h2 Gravity won’t hold you back, neither will we
					%p Northman was born out of our passion for adventure and sport travel. We saw too many people learn the hard way that traditional travel insurance wasn’t made for adventure travellers. Not only did insurance companies not understand what we wanted to do, they couldn’t tell us if we were covered. That’s not something we wanted to leave to chance.
					%p We believe that travel should be for everyone, and that adventure should be available to all without worry. We believe that an insurance company should understand their customers and be able to give solid answers with no room for creative interpretation. We believe in working for our members and making their protection complete, affordable and easy to understand.

					%a.btn_rnd.brd_cream.modal_open{:href => "#modal_quote", :title => "Get A Quote"} Get A Quote

			%section.page_articles.why_articles{"data-container" => "width-padding_1440"}

				%article

					%div{"data-container" => "width_868"}

						.wrap_svg.article_svg
							%svg.svg_ui-thumb
								%use{"xlink:href" => "#ui_thumb"}

						%h2 We cover what others won’t
						%p Chances are, your current off-the-shelf insurance offering doesn’t cover injuries related to most adventure sports or activities, and the last thing you want to do is find out the hard way.
						%p We designed an insurance product that would fully cover the widest range of activities possible; a safety net for people who don’t use safety nets. Whether you’re hiking through the jungle or skiing down an uncharted mountain, you’re protected for everything from medical bills to emergency evacuations.

				%article

					%div{"data-container" => "width_868"}

						.wrap_svg.article_svg
							%svg.svg_ui-hammer
								%use{"xlink:href" => "#ui_hammer"}

						%h2 We took care of the hard stuff
						%p No long questionnaires, no complicated forms. Everything can be completed in minutes, and coverage can be bound as soon as immediately.

				%article

					%div{"data-container" => "width_868"}

						.wrap_svg.article_svg
							%svg.svg_ui-globe-thin
								%use{"xlink:href" => "#ui_globe-thin"}

						%h2 It’s all included
						:plain
							<p>Our single-trip <a href="packages.html" title="Packages">packages</a> cover everything you need to travel with peace of mind, including medical bills, emergency evacuations, trip cancellation and equipment loss. No medicals required, no loopholes that result in non-payment. For frequent fliers, we have annual packages that cover all  of your trips for a full year.</p>

						%a.btn_rnd.brd_orange.modal_open{:href => "#modal_quote", :title => "Get A Quote"} Get A Quote

		= Haml::Engine.new(File.read("dev/haml/partials/_form_quote-modal.haml")).render

		= Haml::Engine.new(File.read("dev/haml/partials/_html_footer.haml")).render