// ==|== primary styles =======================================================
// ============================================================================

// SASS Variables
// ----------------------------------------------------------------------------
$nm_orange: hsla(16,100%,54%,1);
$nm_orange-light: hsla(16,100%,64%,1);
$nm_orange-dark: hsla(16,100%,44%,1);

$nm_cream: hsla(60,11%,93%,1);
$nm_cream-dark: hsla(60,11%,83%,1);

// $nm_grey: hsla(0,0%,15%,1);

// Foundation
// ----------------------------------------------------------------------------
html,
button,
input,
optgroup,
select,
textarea {
	font-family: 'futura-pt', Futura, 'Trebuchet MS', Arial, sans-serif;
}
body {
	position: relative;
	background: $nm_cream;
}
::selection {
	color: $nm_cream;
	background-color: $nm_orange;
}
// + autoprefixer does not recognize placeholder + \\
::-webkit-input-placeholder {
	color: transparent;
}
::-moz-placeholder {
	color: transparent;
}
:-ms-input-placeholder {
	color: transparent;
}

// Transitions
// ----------------------------------------------------------------------------
a,
input,
button {
	transition: all 0.3s ease-in-out;
	// backface-visibility: hidden;
}
svg {
	transition: fill 0.3s ease-in-out;
}
a.nav_toggle div.wrap_menu span {
	transition: top 0.4s ease-in-out, opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
}
nav.nav_primary {
	transition: max-height 0.4s ease-in-out;
}

div.dropdown_toggle {
	transition: background-color 0.3s ease-in-out;
}
div.wrap_scroll {
	transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
}



// General Styles
// ----------------------------------------------------------------------------
svg,
.wrap_svg {
	display: block;
}
.wrap_svg svg {
	width: 100%;
	height: 100%;
}
// + hide SVG container + \\
#svgInject {
	display: none;
	visibility: hidden;
}
// --- Containers --- \\
[data-container] {
	margin-left: auto;
	margin-right: auto;
}
[data-container="width-1440"] {
	max-width: 144rem;
}
[data-container="width-1264"] {
	max-width: 126.4rem;
}
[data-container="width-1200"] {
	max-width: 120rem;
}

// Forms
// ----------------------------------------------------------------------------

div.wrap_select {
	position: relative;
	z-index: 100;
}
div.wrap_select > select {
	// visually hidden class
	clip: rect(0 0 0 0);
	overflow: hidden;
	position: absolute;
	margin: -0.1rem;
	padding: 0;
	width: 0.1rem;
	height: 0.1rem;
	border: 0;
}



div.wrap_select div.dropdown_toggle {
	cursor: pointer;
	position: relative;
	z-index: 102;
	height: 4.8rem;
	background-color: $nm_cream;
	border-radius: 0.8rem;
}
/*
div.wrap_select[data-selected=""] div.dropdown_toggle {
	color: hsla(141,100%,18%,1);
	background-color: hsla(141,100%,18%,0);
}
*/

div.wrap_select div.dropdown_toggle span {
	display: block;
	user-select: none;
	padding: 0 1.6rem;
	font-size: 1.8rem;
	font-weight: 700; // futura bold
	line-height: 4.8rem;
	color: hsla(0,0%,20%,1);
}



div.wrap_select div.wrap_scroll {
	position: absolute;
	z-index: 101;
	top: 4rem; // minus 8px to cover rounded corners
	left: 0;
	right: 0;
	background-color: $nm_cream;
	border-radius: 0 0 0.8rem 0.8rem;
	overflow: hidden;
	opacity: 0;
	visibility: hidden;
}
div.wrap_select div.wrap_scroll ul {
	padding-top: 0.8rem; // plus 8px to accomodate for rounded corners
}
div.wrap_select div.wrap_scroll ul li a {
	display: block;
	padding: 1.6rem;
	font-size: 1.6rem;
	color: hsla(0,0%,20%,1);
	background-color: $nm_cream;
}


// + toggled / selected + \\
div.wrap_select.toggled_dropdown div.wrap_scroll {
	opacity: 1;
	visibility: visible;
}
div.wrap_select.toggled_dropdown div.wrap_scroll ul li.selected a {
	pointer-events: none;
	background-color: hsla(141,29%,94%,1);
}
// + interaction + \\
div.wrap_select:hover div.dropdown_toggle {
	background-color: hsla(17,100%,97%,1);
}
div.wrap_select:active div.dropdown_toggle {
	background-color: hsla(17,100%,94%,1);
}


/*
div.wrap_select[data-selected=""]:hover div.dropdown_toggle {
	background-color: hsla(141,100%,18%,0.06);
}
*/
div.wrap_select div.wrap_scroll ul li a:hover {
	background-color: hsla(0,0%,98%,1);
}
div.wrap_select div.wrap_scroll ul li a:active {
	background-color: hsla(0,0%,100%,1);
}






// Buttons
// ----------------------------------------------------------------------------
.btn_rnd {
	display: table; // inline-block does not allow margin centering
	margin: 0 auto;
	padding: 0 2rem;
	height: 4.8rem;
	line-height: 4.8rem;
	font-size: 1.4rem;
	font-weight: 700; // futura bold
	letter-spacing: 0.2rem;
	text-align: center;
	text-transform: uppercase;
	border-radius: 0.8rem;
	box-shadow: inset 0 0 0 0.2rem;
}
// + button: orange + \\
.btn_orange {
	color: $nm_orange;
}
.btn_orange:hover {
	color: hsla(0,0%,20%,1);
}
.btn_orange:active {
	color: hsla(0,0%,40%,1);
}
// + button: cream + \\
.btn_cream {
	color: $nm_cream;
}
.btn_cream:hover {
	color: $nm_orange;
}
.btn_cream:active {
	color: $nm_orange-light;
}

// ==|== common sections ======================================================
// ============================================================================

// Header
// ----------------------------------------------------------------------------
header {
	position: relative;
	min-height: 8rem;
	padding-top: 8rem;
}
// --- Wordmark --- \\
header a.wrap_svg {
	position: absolute;
	top: 1.8rem;
	left: 1.6rem;
	width: 15.5rem;
	height: 4.2rem;
}
header a.wrap_svg svg {
	fill: $nm_orange;
}
header a.wrap_svg:hover svg {
	fill: hsla(0,0%,20%,1);
}
header a.wrap_svg:active svg {
	fill: hsla(0,0%,40%,1);
}
// --- Nav Toggle --- \\
a.nav_toggle {
	display: block;
	position: absolute;
	z-index: 100;
	top: 2rem;
	right: 1.6rem;
	width: 4rem;
	height: 4rem;
}
a.nav_toggle div.wrap_menu {
	position: relative;
	top: 0.9rem;
	left: 0.4rem;
	width: 3.2rem;
	height: 2.2rem;
}
a.nav_toggle div.wrap_menu span {
	display: block;
	position: absolute;
	left: 0;
	width: 100%;
	height: 0.3rem;
	background-color: $nm_orange;
}
a.nav_toggle div.wrap_menu span.one {
	top: 0;
}
a.nav_toggle div.wrap_menu span.two {
	top: 0.9rem;
}
a.nav_toggle div.wrap_menu span.three {
	top: 1.8rem;
}
// --- Navigation --- \\
nav.nav_primary {
	max-height: 0;
	text-align: center;
	background-color: $nm_orange;
	overflow-y: hidden;
}
nav.nav_primary ul {
	padding: 3.2rem 1.6rem;
}
nav.nav_primary ul li {
	margin-bottom: 2.6rem;
}
nav.nav_primary ul li:last-child {
	margin-bottom: 0;
}
nav.nav_primary ul li a {
	font-size: 2rem;
	font-weight: 700; // futura bold
	color: $nm_cream;
}
nav.nav_primary ul li a:hover {
	color: hsla(0,0%,20%,1);
}
nav.nav_primary ul li a:active {
	color: hsla(0,0%,40%,1);
}
// --- Toggled: Mobile Nav --- \\
body.toggled_mobile-nav nav.nav_primary {
	max-height: 32rem;
}
body.toggled_mobile-nav a.nav_toggle div.wrap_menu span.one {
	top: 0.9rem;
	transform: rotate(-45deg);
}
body.toggled_mobile-nav a.nav_toggle div.wrap_menu span.two {
	opacity: 0;
	transform: scale(0.2);
}
body.toggled_mobile-nav a.nav_toggle div.wrap_menu span.three {
	top: 0.9rem;
	transform: rotate(45deg);
}

// Footer
// ----------------------------------------------------------------------------
footer {
	padding: 4rem 1.6rem;
	text-align: center;
}
footer p {
	margin-bottom: 4rem;
	font-family: 'adelle', Georgia,Times, 'Times New Roman', serif;
	font-size: 1.3rem;
	line-height: 1.4;
	color: $nm_orange;
}
footer p a {
	font-weight: 700;
}
footer ul li {
	margin-bottom: 1rem;
	font-size: 1.1rem;
	font-style: italic;
	font-weight: 700;
	letter-spacing: 0.1rem;
	text-transform: uppercase;
	color: $nm_orange;
}
footer ul li:last-child {
	margin-bottom: 0;
}
// + footer links + \\
footer a {
	color: $nm_orange;
}
footer a:hover {
	color: hsla(0,0%,20%,1);
}
footer a:active {
	color: hsla(0,0%,30%,1);
}


// ==|== page styles ==========================================================
// ============================================================================

// Home Page
// ----------------------------------------------------------------------------
// --- Home Intro --- \\
section.home_intro {
	background-image: url('../img/bg_home.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
section.home_intro div.wrap_img {
	margin: 0 auto;
	padding: 4rem 2rem;
	// max-width: 76.3rem; // svg width + padding (2 x 20px)
}
// --- Home Form --- \\
form.form_home {
	padding: 3.2rem 1.6rem;
	border-top: 0.1rem solid $nm_cream;
}
// + destination dropdown + \\
fieldset.form_destination {
	margin: 0 auto;
	max-width: 56rem;
}
fieldset.form_destination legend {
	margin-bottom: 3.2rem;
	width: 100%; // required to center <legend>
	font-size: 1.8rem;
	font-weight: 700; // futura bold
	letter-spacing: 0.3rem;
	text-align: center;
	text-transform: uppercase;
	color: $nm_cream;
}
fieldset.form_destination div.wrap_select {
	max-width: 39rem;
	margin: 0 auto 2rem auto;
}
fieldset.form_destination div.wrap_select div.dropdown_toggle span {
	padding-right: 4.8rem;
}
fieldset.form_destination div.wrap_select div.dropdown_toggle svg.svg_ui-globe {
	position: absolute;
	top: 1.4rem;
	right: 1.6rem;
	fill: $nm_orange;
	width: 2rem;
	height: 2rem;
}
// --- Home Details --- \\
section.home_details article {
	padding: 4.8rem 1.6rem;
	text-align: center;
	color: hsla(0,0%,15%,1);
	border-bottom: 0.2rem solid $nm_orange;
}
section.home_details article div.wrap_svg {
	margin: 0 auto 4rem auto;
	width: 6.4rem;
	height: 6.4rem;
}
section.home_details article div.wrap_svg svg {
	fill: $nm_orange;
}
section.home_details article h2,
section.home_details article ul li {
	text-transform: uppercase;
}
section.home_details article h2 {
	margin-bottom: 2rem;
	font-size: 1.7rem;
	font-weight: 700; // futura bold
	letter-spacing: 0.2rem;
}
section.home_details article p {
	margin: 0 auto 4rem auto;
	max-width: 86rem;
	font-family: 'adelle', Georgia,Times, 'Times New Roman', serif;
	font-size: 1.5rem; // 1.7rem;
	line-height: 1.4;
}
section.home_details article ul {
	margin: 0 auto 4rem auto;
	padding: 2.4rem 1.6rem;
	max-width: 104.8rem;
	border: 0.2rem solid hsla(60,5%,78%,1);
}
section.home_details article ul li {
	margin-bottom: 1.6rem;
	font-family: 'adelle', Georgia,Times, 'Times New Roman', serif;
	font-size: 1.2rem;
	line-height: 1.4;
}
section.home_details article ul li:last-child {
	margin-bottom: 0;
}
// + individual articles + \\
article.details_why {
}




