// ==|== primary styles =======================================================
// ============================================================================

// Foundation
// ----------------------------------------------------------------------------
html,
button,
input,
optgroup,
select,
textarea {
	font-family: ITCAvantGardeGothic, Futura, 'Trebuchet MS', Arial, sans-serif;
	// font-variant-numeric: oldstyle-nums;
}
body {
	position: relative;
	background: $nm_cream;
}
::selection {
	color: $nm_cream;
	background-color: $nm_orange;
}
// + autoprefixer does not recognize placeholder + \\
::-webkit-input-placeholder {
	color: $nm_L58;
}
::-moz-placeholder {
	color: $nm_L58;
	opacity: 1;
}
:-ms-input-placeholder {
	color: $nm_L58;
}

// Transitions
// ----------------------------------------------------------------------------
a,
input,
button {
	transition: all 0.3s ease-in-out;
	// backface-visibility: hidden;
}
svg {
	transition: fill 0.3s ease-in-out;
}
a.nav_toggle div.wrap_menu span {
	transition: top 0.4s ease-in-out, opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
}
div.form_response {
	transition: height 0.4s ease-in-out;
}
div.form_response div {
	transition: opacity 0.8s ease-in-out 0.2s, visibility 0.8s ease-in-out 0.2s;
}
nav.nav_primary {
	transition: max-height 0.4s ease-in-out;
}
body.home main form.form_quote {
	transition: max-height 1s ease-in-out;
}
div.accordian_body,
form.form_quote div.error_message {
	transition: max-height 0.4s ease-in-out, opacity 0.4s ease-in-out;
}
article.quote_options div.error_message {
	transition: max-height 0.4s ease-in-out, opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
}
// div.wrap_select div.wrap_dropdown,
[data-overlay],
ul.quote_badges li div.badge_body a.btn_rnd span.txt_select span.txt_ed {
	transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}
div.dropdown_toggle {
	transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out; // border-radius 0.3s ease-in-out,
}
ul.list_badges li,
ul.list_badges li div.badge_header {
	transition: border-color 0.3s ease-in-out;
}
input[type="checkbox"] + label,
ul.list_badges li div.badge_header h6,
ul.list_badges li div.badge_body h3,
ul.list_badges li div.badge_body h3 span.currency {
	transition: color 0.3s ease-in-out;
}
input[type="checkbox"] + label::before {
	transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}
ul.quote_badges li div.badge_body a.btn_rnd span.txt_select {
	transition: padding-left 0.3s ease-in-out;
}
// --- Animations --- \\
@keyframes animShow {
	0%   { opacity: 0; }
	100% { opacity: 1; }
}
@keyframes animHide {
	0%   { opacity: 1; left: 0; }
	99%  { opacity: 0; left: 0; }
	100% { opacity: 0; left: -200%; }
}
[data-modal="active"] {
	left: 0;
	animation: animShow 0.4s ease-in-out;
}
[data-modal="inactive"] {
	left: -200%;
	animation: animHide 0.4s ease-in-out forwards;
}
@keyframes shake {
	0%, 100% {
		transform: translate3d(0,0,0);
	}
	10%, 30%, 50%, 70%, 90% {
		transform: translate3d(-1rem,0,0);
	}
	20%, 40%, 60%, 80% {
		transform: translate3d(1rem,0,0);
	}
}
.animate_shake {
	animation: shake 0.7s ease-in-out both; // ease-in-out 0.2s forwards;
}
// --- FOUT --- \\
html:not(.ie9) main,
html:not(.ie9) header,
html:not(.ie9) footer {
	opacity: 0; // begin by setting opacity to 0 (if not IE9)
}
.wf-active main,
.wf-active header,
.wf-active footer {
	animation: animShow 0.4s ease-in-out forwards;
}

// General Styles
// ----------------------------------------------------------------------------
.wrap_element {
	position: relative;
}
// + SVGs + \\
#svgInject {
	display: none;
	visibility: hidden;
}
.wrap_svg {
	display: block;
}
.wrap_svg svg {
	width: 100%;
	height: 100%;
}
svg.svg_inline {
	display: inline; // chrome does not respect the [viewBox] selector
}
// --- Containers --- \\
[data-container] {
	margin-left: auto;
	margin-right: auto;
}
[data-container="width-padding_1440"] {
	max-width: 150.4rem;	 // padding applied at 768px
}
[data-container="width-padding_1200"] {
	// max-width: 126.4rem;	 // padding applied at 768px
}
[data-container="width_1354"] {
	max-width: 135.4rem;
}
[data-container="width_1200"] {
	max-width: 120rem;
}
[data-container="width_1050"] {
	max-width: 105rem;
}
[data-container="width_868"] {
	max-width: 86.8rem;
}
[data-container="width_720"] {
	max-width: 72rem;
}
// --- Modals --- \\
[data-modal] {
	position: fixed;
	z-index: 999;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: $nm_L15;
	visibility: hidden; // requires visibility in order to hide animation on initial page load... set to 'visible' via JS class 'loaded'
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}
[data-modal] div.modal_body {
	overflow: hidden;
}
[data-modal] div.modal_body h5 {
	padding: 2.6rem 2rem;
	font-size: 1.7rem;
	font-style: italic;
	letter-spacing: 0.3rem;
	text-align: center;
	text-transform: uppercase;
	color: $nm_cream;
}
[data-modal] div.modal_body > p {
	margin-bottom: 3.2rem;
	padding: 2.6rem 2rem;
	font-family: 'adelle', Georgia,Times, 'Times New Roman', serif;
	font-size: 1.7rem;
	line-height: 1.4;
	text-align: center;
	color: $nm_cream;
}
[data-modal] div.modal_body > p a {
	font-weight: 700;
	color: $nm_orange;
}
[data-modal] div.modal_body > p a:hover {
	color: hsla(0,0%,80%,1);
}
[data-modal] div.modal_body > p a:active {
	color: hsla(0,0%,60%,1);
}
// + over 60 error + \\
aside.modal_error-60 div.modal_body {
	padding-top: 4.8rem;
}
aside.modal_error-60 div.modal_body a.cancel_error {
	position: absolute;
	bottom: 4.8rem;
	left: 50%;
	transform: translateX(-50%);
}

// --- Overlays --- \\
// created and added (also destroyed) to DOM via JS
// opacity applied via JS | transition via CSS
[data-overlay] {
	position: fixed;
	z-index: 998;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: hsla(0,0%,0%,0.6);
}
// --- Overlay Active --- \\
html.overlay_active,
html.overlay_active body {
	overflow-y: hidden;
}
// [data-overlay].loaded,
[data-modal].loaded {
	visibility: visible;
}

// Forms
// ----------------------------------------------------------------------------
input[type="text"],
input[type="date"] {
	padding: 0 4rem 0 1.6rem;
	width: 100%;
	height: 4.8rem;
	font-size: 1.6rem;
	color: $nm_L21;
	background-color: $nm_cream;
	box-shadow: inset 0 0 0 0.1rem $nm_orange-A0;
	border-radius: 0.8rem;
}
// + interaction + \\
input[type="text"]:focus,
input[type="date"]:focus {
	box-shadow: inset 0 0 0 0.1rem $nm_orange;
}
input[type="text"]:hover,
input[type="date"]:hover {
	background-color: $nm_cream-D;
}
input[type="text"]:focus:hover,
input[type="date"]:focus:hover {
	background-color: $nm_cream;
}
// --- Checkbox --- \\
span.wrap_checkbox {
	display: table;
	margin: 3.2rem auto 0 auto;
}
input[type="checkbox"] + label {
	cursor: pointer;
	display: block;
	position: relative;
	padding-left: 4rem;
	font-size: 1.4rem;
	letter-spacing: 0;
	text-align: left;
	text-transform: none;
	color: $nm_cream;
}
input[type="checkbox"] + label::before {
	content: " ";
	display: block;
	position: absolute;
	top: -0.2rem;
	left: 0;
	width: 2.4rem;
	height: 2.4rem;
	border: 0.2rem solid $nm_orange;
	border-radius: 0.3rem;
}
input[type="checkbox"] + label svg {
	position: absolute;
	top: 0.3rem;
	left: 0.5rem;
	width: 1.4rem;
	height: 1.4rem;
	fill: $nm_orange-A0;
}
// + interaction + \\
input[type="checkbox"] + label:hover {
	color: $nm_orange;
}
input[type="checkbox"] + label:active {
	color: $nm_orange-L;
}
input[type="checkbox"] + label:active::before {
	border-color: $nm_orange-L;
}
input[type="checkbox"]:focus + label::before {
	background-color: hsla(0,0%,12%,1); // lighter than: $nm_L7
}
input[type="checkbox"]:checked + label svg {
	fill: $nm_orange;
}
// --- Select Dropdown --- \\
div.wrap_select {
	position: relative;
	z-index: 100;
}
div.wrap_select > select,
div.wrap_select > select option[disabled] {
	// visually hidden class
	clip: rect(0 0 0 0);
	overflow: hidden;
	position: absolute;
	margin: -0.1rem;
	padding: 0;
	width: 0.1rem;
	height: 0.1rem;
	border: 0;
}
// + dropdown toggle + \\
div.wrap_select div.dropdown_toggle {
	cursor: pointer;
	position: relative;
	z-index: 102;
	height: 4.8rem;
	background-color: $nm_cream;
	border-radius: 0.8rem;
	box-shadow: inset 0 0 0 0.1rem $nm_orange-A0;
}
div.wrap_select div.dropdown_toggle span {
	display: block;
	user-select: none;
	padding-left: 1.6rem;
	padding-right: 4.8rem;
	font-size: 1.6rem;
	line-height: 4.8rem;
	color: $nm_L21;
}
div.wrap_select[data-selected=""] div.dropdown_toggle span {
	color: $nm_L58;
}
div.wrap_select div.dropdown_toggle svg {
	position: absolute;
	top: 1.6rem;
	right: 1.6rem;
	width: 1.6rem;
	height: 1.6rem;
	fill: $nm_orange;
}
// + dropdown list + \\
div.wrap_select div.wrap_dropdown,
div.wrap_select div.wrap_dropdown ul,
div.wrap_select div.wrap_dropdown.scrollable,
div.wrap_select div.wrap_dropdown span.fix_ios-scroll {
	background-color: $nm_cream; // be sure there is no chance ios rubber band will show a difference background
}
div.wrap_select div.wrap_dropdown {
	position: absolute;
	z-index: 101;
	top: 0;
	width: 100%;
	border-radius: 0.8rem;
	box-shadow: $boxshadow_drop;
	overflow: hidden;
}
div.wrap_select div.wrap_dropdown ul {
	padding-top: 4.8rem;
}
div.wrap_select div.wrap_dropdown ul li a {
	display: block;
	padding: 1.6rem;
	font-size: 1.6rem;
	color: $nm_L21;
}
div.wrap_select div.wrap_dropdown ul li.selected a {
	pointer-events: none;
	color: $nm_orange;
}
// + dropdown scrollable + \\
div.wrap_select div.wrap_dropdown.scrollable {
	height: 28.8rem; // dropdown_label height (48px) x 6
}
div.wrap_select div.wrap_dropdown span.fix_ios-scroll { // required only get to iOS to behave
	display: block;
	position: absolute;
	top: 4.8rem;
	right: 0;
	bottom: 0;
	left: 0;
	border-radius: 0 0 0.8rem 0.8rem;
	overflow: hidden;
	-webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC); // required in order to get iOS Chrome to mask the overflow!
}
div.wrap_select div.wrap_dropdown span.fix_ios-scroll ul {
	padding-top: 0;
	height: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}
// + chrome scrollbar + \\
div.wrap_select div.wrap_dropdown span.fix_ios-scroll ul::-webkit-scrollbar {
	width: 0.4rem;
	background-color: hsla(0,0%,0%,1);
}
div.wrap_select div.wrap_dropdown span.fix_ios-scroll ul::-webkit-scrollbar-track {
	background-color: $nm_cream-D;
}
div.wrap_select div.wrap_dropdown span.fix_ios-scroll ul::-webkit-scrollbar-thumb {
	background-color: $nm_orange;
}
// + interaction + \\
div.wrap_select select:focus + div.dropdown_toggle {
	box-shadow: inset 0 0 0 0.1rem $nm_orange;
}
div.wrap_select:hover div.dropdown_toggle {
	background-color: $nm_cream-D;
}
div.wrap_select:active div.dropdown_toggle {
	background-color: $nm_cream;
}
div.wrap_select div.wrap_dropdown ul li a:hover {
	background-color: hsla(0,0%,98%,1);
}
div.wrap_select div.wrap_dropdown ul li a:active {
	background-color: hsla(0,0%,100%,1);
}
// + hide / show dropdown + \\
div.wrap_select div.wrap_dropdown {
	opacity: 0;
	visibility: hidden;
}
div.wrap_select.toggle_show {
	z-index: 200;
}
div.wrap_select.toggle_show div.wrap_dropdown {
	opacity: 1;
	visibility: visible;
}
div.wrap_select.toggle_show div.dropdown_toggle {
	border-radius: 0.8rem 0.8rem 0 0;
}
// --- Typeahead --- \\
span.twitter-typeahead {
	display: block;
	width: 100%;
}
span.twitter-typeahead input[type="text"]:valid {
	box-shadow: none;
}
span.twitter-typeahead input[type="text"] {
	z-index: 200;
}
span.twitter-typeahead input[type="text"].tt-hint {
	color: $nm_L58;
}
span.tt-dropdown-menu {
	z-index: 1;
	top: 4rem !important;
	padding-top: 0.8rem;
	width: 100%;
	background-color: $nm_cream;
	border-radius: 0 0 0.8rem 0.8rem;
	box-shadow: $boxshadow_drop;
	max-height: 28.8rem; // dropdown_label height (48px) x 6
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	// clip: rect(0rem, 100rem, 100rem, -0.8rem);
}
span.tt-dropdown-menu div.tt-dataset-states {
}
span.tt-dropdown-menu div.tt-dataset-states span.tt-suggestions {
}
// + suggestions + \\
div.tt-suggestion {
	cursor: pointer;
	padding: 1.6rem;
	background-color: $nm_cream;
}
div.tt-suggestion:hover {
	background-color: hsla(0,0%,98%,1);
}
div.tt-suggestion:active {
	background-color: hsla(0,0%,100%,1);
}
div.tt-suggestion p {
	font-family: ITCAvantGardeGothic, Futura, 'Trebuchet MS', Arial, sans-serif !important;
	font-size: 1.6rem;
	text-align: left;
	color: $nm_L21;
}
div.tt-suggestion p strong {
	font-weight: 400; // needed to prevent false browser bolding
	text-decoration: underline;
}
// --- Form: Quote --- \\
form.form_quote h6,
form.form_quote div > label,
form.form_quote span.txt {
	font-size: 1.3rem;
	letter-spacing: 0.3rem;
	text-align: center;
	text-transform: uppercase;
	color: $nm_cream;
}
form.form_quote div.form_header {
	padding: 3.2rem 1.6rem;
}
form.form_quote h6 {
	font-style: italic;
	line-height: 1.4;
}
form.form_quote div > label {
	display: block;
	margin-bottom: 2.6rem;
}
form.form_quote span.txt {
	display: inline-block;
	margin: 2rem 0;
}
form.form_quote div.wrap_input div.wrap_columns {
	text-align: center;
}
form.form_quote div.wrap_input div.column {
	vertical-align: top;
	padding: 3.2rem 1.6rem;
	border-top: 0.1rem solid $nm_L21;
}
form.form_quote div.wrap_input div.wrap_element {
	position: relative;
	margin: 0 auto;
}
form.form_quote div.wrap_input div.input-daterange div.wrap_element input {
	cursor: pointer;
}
form.form_quote div.wrap_input div.wrap_element svg {
	pointer-events: none;
	position: absolute;
	top: 1.6rem;
	right: 1.6rem;
	width: 1.6rem;
	height: 1.6rem;
	fill: $nm_orange;
}
// + individual columns + \\
form.form_quote div.wrap_input div.col-1 {
	text-align: center;
}
form.form_quote div.wrap_input div.col-1 div.wrap_element {
	width: 18rem;
}
form.form_quote div.wrap_input div.col-2 div.wrap_element {
	width: 17rem;
}
form.form_quote div.wrap_input div.col-2 div.wrap_element p {
	margin-top: 1.6rem;
	font-size: 1.6rem;
	font-style: italic;
	text-align: center;
	color: $nm_cream;
}
form.form_quote div.wrap_input div.col-3 div.wrap_select,
form.form_quote div.wrap_input div.col-4 div.wrap_select {
	margin: 0 auto;
	width: 24rem;
	text-align: left;
}
form.form_quote div.wrap_input div.col-5 .btn_rnd {
	padding: 0 3.2rem;
	height: 6.8rem;
	font-size: 1.9rem;
	line-height: 6.8rem;
}
form.form_quote div.wrap_input div.col-5 a.btn_rnd {
	margin-bottom: 3.2rem;
	width: 16.4rem;
}
// + quote form error message + \\
form.form_quote div.error_message {
	text-align: center;
	max-height: 0rem;
	opacity: 0;
	overflow: hidden;
}
form.form_quote div.error_message p {
	display: block;
	margin-bottom: 2rem;
	font-size: 1.3rem;
	letter-spacing: 0.3rem;
	text-transform: uppercase;
	color: $nm_orange;
}
body.home main form.form_quote div.error_message p {
	margin: 3.2rem 0 0 0;
}
form.form_quote.error div.error_message {
	max-height: 10rem;
	opacity: 1;
}
// --- Modal: Quote --- \\
aside.modal_quote form.form_quote div.wrap_input div.col-3 div.wrap_select div.wrap_dropdown.scrollable {
	height: 23.6rem; // shortened inorder to stay within modal viewport
}
aside.modal_quote form.form_quote div.wrap_input div.col-4 div.wrap_select div.wrap_dropdown.scrollable {
	height: 20rem; // shortened inorder to stay within modal viewport
}

// Buttons
// ----------------------------------------------------------------------------
.btn_rnd {
	display: table; // inline-block does not allow margin centering
	margin: 0 auto;
	padding: 0 2rem;
	height: 4.8rem;
	line-height: 4.8rem;
	font-size: 1.4rem;
	letter-spacing: 0.2rem;
	text-align: center;
	text-transform: uppercase;
	border-radius: 0.8rem;
}
a[class*="brd_"],
button[class*="brd_"] {
	box-shadow: inset 0 0 0 0.2rem;
}
// + fill: orange + \\
.fill_orange {
	color: $nm_cream;
	background-color: $nm_orange;
}
.fill_orange:focus,
.fill_orange:hover {
	color: $nm_orange;
	background-color: $nm_cream;
}
.fill_orange:active {
	color: $nm_orange-D;
	background-color: $nm_cream-D;
}
// + fill: green + \\
.fill_green {
	color: $nm_cream;
	background-color: $nm_green;
}
.fill_green:focus,
.fill_green:hover {
	background-color: $nm_green-L;
}
.fill_green:active {
	background-color: $nm_green;
}
// + border: orange & green + \\
.brd_orange {
	color: $nm_orange;
}
.brd_green {
	color: $nm_green;
}
.brd_orange:focus,
.brd_green:focus,
.brd_orange:hover,
.brd_green:hover {
	color: hsla(0,0%,20%,1);
}
.brd_orange:active,
.brd_green:active {
	color: hsla(0,0%,40%,1);
}
// + border: cream + \\
.brd_cream {
	color: $nm_cream;
}
.brd_cream:focus,
.brd_cream:hover {
	color: $nm_orange;
}
.brd_cream:active {
	color: $nm_orange-L;
}
// + border: grey + \\
.brd_grey {
	color: $nm_L34;
}
.brd_grey:focus,
.brd_grey:hover {
	color: $nm_cream;
}
.brd_grey:active {
	color: $nm_cream-D;
}

// Badges
// ----------------------------------------------------------------------------
// --- Badges List --- \\
ul.list_badges {
	margin-bottom: 3.2rem;
}
ul.list_badges li {
	margin: 0 auto 3.2rem auto;
	max-width: 41rem;
	border: 0.2rem solid $nm_orange;
	border-radius: 1.6rem;
}
ul.list_badges li:last-child {
	margin-bottom: 0;
}
ul.list_badges li div.badge_header {
	position: relative;
	padding: 1.8rem 1.6rem;
	border-bottom: 0.2rem solid $nm_orange;
}
ul.list_badges li div.badge_header div.wrap_svg {
	display: inline-block;
	height: 2.6rem;
}
ul.list_badges li div.badge_header div.wrap_svg svg {
	fill: $nm_orange;
}
ul.list_badges li div.badge_header h6 {
	text-transform: uppercase;
}
ul.list_badges li div.badge_body {
	display: table;
	padding: 2.6rem 1.6rem;
	width: 100%;
}
ul.list_badges li div.badge_header h6,
ul.list_badges li div.badge_header p.option_letter,
ul.list_badges li div.badge_body h3,
ul.list_badges li div.badge_body h3 span.currency,
ul.list_badges li div.badge_body p,
ul.list_badges li div.badge_body a.btn_rnd {
	color: $nm_orange;
}
ul.list_badges li div.badge_body a.btn_rnd:hover {
	opacity: 0.8;
}
ul.list_badges li div.badge_body a.btn_rnd:active {
	opacity: 0.9;
}
// + badge single + \\
ul.list_badges li.badge_single {
	border-color: $nm_bronze;
}
ul.list_badges li.badge_single div.badge_header {
	border-bottom-color: $nm_bronze;
}
ul.list_badges li.badge_single div.badge_header h6,
ul.list_badges li.badge_single div.badge_header p.option_letter,
ul.list_badges li.badge_single div.badge_body h3,
ul.list_badges li.badge_single div.badge_body h3 span.currency,
ul.list_badges li.badge_single div.badge_body p,
ul.list_badges li.badge_single div.badge_body a.btn_rnd {
	color: $nm_bronze;
}
ul.list_badges li.badge_single div.badge_header div.wrap_svg svg {
	fill: $nm_bronze;
}
// + badge family + \\
ul.list_badges li.badge_family {
	border-color: $nm_silver;
}
ul.list_badges li.badge_family div.badge_header {
	border-bottom-color: $nm_silver;
}
ul.list_badges li.badge_family div.badge_header h6,
ul.list_badges li.badge_family div.badge_header p.option_letter,
ul.list_badges li.badge_family div.badge_body h3,
ul.list_badges li.badge_family div.badge_body h3 span.currency,
ul.list_badges li.badge_family div.badge_body p,
ul.list_badges li.badge_family div.badge_body a.btn_rnd {
	color: $nm_silver;
}
ul.list_badges li.badge_family div.badge_header div.wrap_svg svg {
	fill: $nm_silver;
}
// + badge annual + \\
ul.list_badges li.badge_annual {
	border-color: $nm_gold;
}
ul.list_badges li.badge_annual div.badge_header {
	border-bottom-color: $nm_gold;
}
ul.list_badges li.badge_annual div.badge_header h6,
ul.list_badges li.badge_annual div.badge_header p.option_letter,
ul.list_badges li.badge_annual div.badge_body h3,
ul.list_badges li.badge_annual div.badge_body h3 span.currency,
ul.list_badges li.badge_annual div.badge_body p,
ul.list_badges li.badge_annual div.badge_body a.btn_rnd {
	color: $nm_gold;
}
ul.list_badges li.badge_annual div.badge_header div.wrap_svg svg {
	fill: $nm_gold;
}
// + badge selected + \\
ul.list_badges li.selected {
	border-color: $nm_green;
}
ul.list_badges li.selected div.badge_header {
	border-bottom-color: $nm_green;
}
ul.list_badges li.selected div.badge_header h6,
ul.list_badges li.selected div.badge_body h3,
ul.list_badges li.selected div.badge_body h3 span.currency {
	color: $nm_green;
}
ul.list_badges li.selected div.badge_header div.wrap_svg svg {
	fill: $nm_green;
}
ul.list_badges li.selected div.badge_body a.btn_rnd {
	color: $nm_cream;
	background-color: $nm_green;
	box-shadow: inset 0 0 0 0.2rem $nm_green; // need to redefine box-shadow since text colour is different
}


// ==|== common sections ======================================================
// ============================================================================

// Header
// ----------------------------------------------------------------------------
header {
	background-color: $nm_cream;
}
header div[data-container] {
	position: relative;
	min-height: 8rem;
	padding-top: 8rem;
}
// --- Wordmark & Logo --- \\
header a.wordmark {
	position: absolute;
	top: 1.8rem;
	left: 1.6rem;
	width: 15.5rem;
	height: 4.2rem;
}
header a.wordmark svg {
	fill: $nm_orange;
}
header a.wordmark:hover svg {
	fill: hsla(0,0%,20%,1);
}
header a.wordmark:active svg {
	fill: hsla(0,0%,40%,1);
}
header h2 {
	display: none;
	position: absolute;
	top: 3.9rem;
	left: 22rem;
	font-size: 1.2rem;
	font-style: italic;
	letter-spacing: 0.1rem;
	color: $nm_orange;
}
// --- Nav Toggle --- \\
a.nav_toggle {
	display: block;
	position: absolute;
	z-index: 100;
	top: 2rem;
	right: 1.6rem;
	width: 4rem;
	height: 4rem;
}
a.nav_toggle div.wrap_menu {
	position: relative;
	top: 0.9rem;
	left: 0.4rem;
	width: 3.2rem;
	height: 2.2rem;
}
a.nav_toggle div.wrap_menu span {
	display: block;
	position: absolute;
	left: 0;
	width: 100%;
	height: 0.3rem;
	background-color: $nm_orange;
}
a.nav_toggle div.wrap_menu span.one {
	top: 0;
}
a.nav_toggle div.wrap_menu span.two {
	top: 0.9rem;
}
a.nav_toggle div.wrap_menu span.three {
	top: 1.8rem;
}
// --- Navigation --- \\
nav.nav_primary {
	max-height: 0;
	text-align: center;
	background-color: $nm_orange;
	overflow-y: hidden;
}
nav.nav_primary ul {
	padding: 3.2rem 1.6rem;
}
nav.nav_primary ul li {
	margin-bottom: 2.6rem;
}
nav.nav_primary ul li:last-child {
	margin-bottom: 0;
}
nav.nav_primary ul li a {
	font-size: 1.8rem;
	color: $nm_cream;
}
nav.nav_primary ul li a:hover {
	color: hsla(0,0%,20%,1);
}
nav.nav_primary ul li a:active {
	color: hsla(0,0%,40%,1);
}
// + social links + \\
nav.nav_primary div.social_links {
	padding-bottom: 3.2rem;
	text-align: center;
}
nav.nav_primary div.social_links a {
	display: inline-block;
	width: 2.8rem;
	height: 2.8rem;
}
nav.nav_primary div.social_links a.social_twitter {
	margin-right: 4rem;
}
nav.nav_primary div.social_links a svg {
	fill: $nm_cream;
}
nav.nav_primary div.social_links a:hover svg {
	fill: hsla(0,0%,20%,1);
}
nav.nav_primary div.social_links a:active svg {
	fill: hsla(0,0%,40%,1);
}
// --- Toggled: Mobile Nav --- \\
body.toggled_mobile-nav nav.nav_primary {
	max-height: 32rem;
}
body.toggled_mobile-nav a.nav_toggle div.wrap_menu span.one {
	top: 0.9rem;
	transform: rotate(-45deg);
}
body.toggled_mobile-nav a.nav_toggle div.wrap_menu span.two {
	opacity: 0;
	transform: scale(0.2);
}
body.toggled_mobile-nav a.nav_toggle div.wrap_menu span.three {
	top: 0.9rem;
	transform: rotate(45deg);
}

// Footer
// ----------------------------------------------------------------------------
footer {
	padding: 4rem 1.6rem;
	text-align: center;
}
// --- Footer Links --- \\
ul.footer_links {
	margin-bottom: 4rem;
}
ul.footer_links li {
	display: inline-block;
	margin: 0 2.4rem 0 0;
}
ul.footer_links li:last-child {
	margin-right: 0;
}
ul.footer_links li a {
	font-size: 1.4rem;
	color: $nm_L21;
}
ul.footer_links li a:hover {
	color: $nm_orange;
}
ul.footer_links li a:active {
	color: $nm_orange-D;
}
// --- Contact Info --- \\
ul.footer_contact {
	margin-bottom: 4rem;
}
ul.footer_contact li {
	margin-bottom: 1rem;
	font-size: 1.1rem;
	font-style: italic;
	letter-spacing: 0.1rem;
	text-transform: uppercase;
	color: $nm_orange;
}
ul.footer_contact li:last-child {
	margin-bottom: 0;
}
// --- Privacy Info --- \\
footer p {
	font-family: 'adelle', Georgia,Times, 'Times New Roman', serif;
	font-size: 1.3rem;
	line-height: 1.4;
	color: $nm_orange;
}
footer p a {
	font-weight: 700;
	white-space: nowrap;
}
// --- Privacy & Contact Links --- \\
footer p a,
ul.footer_contact li a {
	color: $nm_orange;
}
footer p a:hover,
ul.footer_contact li a:hover {
	color: hsla(0,0%,20%,1);
}
footer p a:active,
ul.footer_contact li a:active {
	color: hsla(0,0%,30%,1);
}


// ==|== page styles ==========================================================
// ============================================================================

// Common
// ----------------------------------------------------------------------------
section.page_header {
	background-color: $nm_L7;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
section.page_header:not([style]) {
	background-image: url('../img/bg_home.jpg');
}
section.page_header h1 {
	margin: 0 auto;
	max-width: 86.8rem;
	font-size: 3.2rem;
	font-style: italic;
	letter-spacing: 0.4rem;
	line-height: 1.2;
	text-transform: uppercase;
	color: $nm_cream;
}
section.page_header div.wrap_svg {
	margin-left: auto;
	margin-right: auto;
}
section.page_header div.wrap_svg.icon {
	margin-bottom: 3.2rem;
	width: 4.8rem;
}
section.page_header div.wrap_svg svg {
	fill: $nm_cream; // 90% opacity?
}
// + internal header + \\
section.internal_header {
	padding: 3.8rem 2rem 4.2rem 2rem;
	text-align: center;
}
// --- Page Callout --- \\
section.page_callout {
	background-color: $nm_orange;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
section.page_callout article[data-container] {
	padding: 4.8rem 1.6rem;
	text-align: center;
}
section.page_callout article h2 {
	margin-bottom: 3.2rem;
	font-size: 1.7rem;
	letter-spacing: 0.2rem;
	line-height: 1.2;
	text-align: center;
	text-transform: uppercase;
	color: $nm_cream;
}
section.page_callout article p {
	margin-bottom: 3.2rem;
	font-family: 'adelle', Georgia,Times, 'Times New Roman', serif;
	font-size: 1.5rem;
	line-height: 1.5;
	color: $nm_cream;
}
section.page_callout article p:last-child {
	margin-bottom: 0;
}
section.page_callout article a.btn_rnd:hover {
	color: hsla(0,0%,20%,1);
}
section.page_callout article a.btn_rnd:active {
	color: hsla(0,0%,40%,1);
}
// --- Page Articles --- \\
section.page_articles {
	background-color: $nm_cream;
}
section.page_articles article {
	padding: 4.8rem 1.6rem;
	text-align: center;
	color: hsla(0,0%,15%,1);
	border-bottom: 0.2rem solid $nm_orange;
}
section.page_articles article h2 {
	margin-bottom: 3.2rem;
	font-size: 1.7rem;
	letter-spacing: 0.2rem;
	line-height: 1.2;
	text-align: center;
	text-transform: uppercase;
}
section.page_articles article div[data-container] > p:not([class]) {
	margin-bottom: 3.2rem;
	font-family: 'adelle', Georgia,Times, 'Times New Roman', serif;
	font-size: 1.5rem;
	line-height: 1.5;
}
section.page_articles article div[data-container] > p a,
section.page_articles article div[data-container] > ul:not([class]) li a {
	color: $nm_orange;
}
section.page_articles:not(.whats-covered_articles) article div[data-container] > p a[href^="tel:"] {
	display: table;
	margin: 0 auto;
	font-family: ITCAvantGardeGothic, Futura, 'Trebuchet MS', Arial, sans-serif;
}
section.page_articles article div[data-container] > p a:hover,
section.page_articles article div[data-container] > ul:not([class]) li a:hover {
	color: hsla(0,0%,20%,1);
}
section.page_articles article div[data-container] > p a:active,
section.page_articles article div[data-container] > ul:not([class]) li a:active {
	color: hsla(0,0%,40%,1);
}
section.page_articles article div[data-container] div.article_svg {
	margin: 0 auto 4rem auto;
	width: 6.4rem;
	height: 6.4rem;
}
section.page_articles article div[data-container] .article_svg svg {
	fill: $nm_orange;
}
// + list: ordered + \\
section.page_articles article div[data-container] ol {
	counter-reset: ordered-counter;
	margin-bottom: 3.2rem;
	text-align: left;
}
section.page_articles article div[data-container] ol li {
	position: relative;
	margin-bottom: 2rem;
	padding: 1rem 1rem 1rem 3.2rem;
	font-family: 'adelle', Georgia,Times, 'Times New Roman', serif;
	font-size: 1.3rem;
	line-height: 1.4;
	border: 0.2rem solid $nm_ash;
}
section.page_articles article div[data-container] ol li::before {
	content: counter(ordered-counter, decimal) ".";
	counter-increment: ordered-counter;
	position: absolute;
	top: 1rem;
	left: 1rem;
	font-family: ITCAvantGardeGothic, Futura, 'Trebuchet MS', Arial, sans-serif;
}
section.page_articles article div[data-container] ol li:last-child {
	margin-bottom: 0;
}
// + list: unordered + \\
section.page_articles article div[data-container] ul:not([class]) {
	margin-bottom: 3.2rem;
}
section.page_articles article div[data-container] ul:not([class]) li {
	position: relative;
	display: table;
	margin: 0 auto 1rem auto;
	font-family: 'adelle', Georgia,Times, 'Times New Roman', serif;
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 1.2;
}
section.page_articles article div[data-container] ul:not([class]) li::before {
	display: none;
	content: "\2022"; // bullet
	position: absolute;
	top: -0.2rem;
	left: -1.8rem;
	font-size: 1.8rem;
}
// + list: links + \\
section.page_articles article div[data-container] ul.list_svg ~ ul:not([class]) li {
	display: block;
	margin: 0 0 1.6rem 0;
	font-weight: 400;
}
section.page_articles article div[data-container] ul.list_svg ~ ul:not([class]) li::before {
	content: none;
}
section.page_articles article div[data-container] ul.list_svg ~ ul:not([class]) li a {
	display: table;
	margin: 0 auto;
}
// + list: sports + \\
section.page_articles article ul.list_activities {
	margin-top: 4rem;
	margin-bottom: 4rem;
	padding: 2.4rem;
	border: 0.2rem solid hsla(60,5%,78%,1);
}
section.page_articles article ul.list_activities li {
	margin-bottom: 1.6rem;
	font-family: 'adelle', Georgia,Times, 'Times New Roman', serif;
	font-size: 1.2rem;
	line-height: 1.4;
	text-transform: uppercase;
}
section.page_articles article ul.list_activities li:last-child {
	margin-bottom: 0;
}
// + list: svg icons + \\
section.page_articles article div[data-container] ul.list_svg {
	margin-bottom: 4rem;
}
section.page_articles article div[data-container] ul.list_svg li {
	display: inline-block;
	margin-right: 1.4rem;
	height: 3.6rem;
}
section.page_articles article div[data-container] ul.list_svg li:last-child {
	margin-right: 0;
}
section.page_articles article div[data-container] ul.list_svg li.icon_mail {
	width: 4.4rem;
}
section.page_articles article div[data-container] ul.list_svg li.icon_twitter {
	width: 5.1rem;
}
section.page_articles article div[data-container] ul.list_svg li.icon_facebook {
	width: 2rem;
}
/*
section.page_articles article div[data-container] > p:last-child,
section.page_articles article div[data-container] > ul:last-child,
section.page_articles article div[data-container] > ul li:last-child {
*/
section.page_articles article div[data-container] p:last-child,
section.page_articles article div[data-container] ul:last-child,
section.page_articles article div[data-container] ul li:last-child {
	margin-bottom: 0 !important;
}
// + internal table + \\
section.page_articles article table {
	table-layout: fixed;
	width: 100%;
	border: 0.2rem solid $nm_ash;
}
section.page_articles article table tbody tr {
	border-bottom: 0.2rem solid $nm_ash;
}
section.page_articles article table tbody tr:last-child {
	border-bottom: none;
}
section.page_articles article table tbody tr td {
	padding: 1rem;
	font-size: 1.3rem;
}

// Home Page
// ----------------------------------------------------------------------------
section.home_header div.wrap_svg.icon {
	padding-top: 4rem;
	margin-bottom: 0;
}
section.home_header div.wrap_svg.title {
	padding: 4rem 2rem;
	text-align: center;
}
// --- Form: Destination --- \\
form.form_destination {
	padding-top: 3.2rem;
	border-top: 0.1rem solid $nm_cream;
}
form.form_destination fieldset {
	margin: 0 auto;
	max-width: 62.4rem; // width 560px + eventual padding (32px x 2)
	padding: 0 1.6rem 3.2rem 1.6rem;
}
form.form_destination fieldset legend {
	margin-bottom: 3.2rem;
	width: 100%; // required to center <legend>
	font-size: 1.8rem;
	letter-spacing: 0.3rem;
	text-align: center;
	text-transform: uppercase;
	color: $nm_cream;
}
form.form_destination fieldset div.wrap_element {
	max-width: 39rem;
	margin: 0 auto 2rem auto;
}
form.form_destination fieldset div.wrap_element input[type="text"],
form.form_destination fieldset div.wrap_element input[type="date"] {
	padding-right: 4.8rem;
}
form.form_destination fieldset div.wrap_element svg {
	pointer-events: none;
	position: absolute;
	z-index: 200;
	top: 1.4rem;
	right: 1.6rem;
	width: 2rem;
	height: 2rem;
	fill: $nm_orange;
}
// --- Form: Quote --- \\
body.home main form.form_quote {
	max-height: 0;
	overflow-y: hidden;
	background-color: $nm_L7;
}
body.home main form.form_quote.reveal {
	max-height: 99rem;
}
body.home main form.form_quote.allow-overflow {
	overflow-y: visible;
}

// Get A Quote
// ----------------------------------------------------------------------------
article.quote_options p.notice {
	margin-bottom: 4.8rem;
	padding: 0 2rem;
	font-size: 1.3rem;
	font-style: italic;
	text-align: center;
	color: $nm_L7;
}
article.quote_options div.error_message {
	margin: 0 auto;
	max-width: 36rem;
	max-height: 0rem;
	opacity: 0;
	overflow: hidden;
	transform: translateY(-2.4rem) scale(0.8);
}
article.quote_options div.error_message p {
	display: block;
	margin-bottom: 3.2rem;
	padding: 1rem;
	font-size: 1.4rem;
	letter-spacing: 0.2rem;
	text-transform: uppercase;
	color: $nm_cream;
	background-color: $nm_red;
	border-radius: 0.8rem;
}
section.error_quote article.quote_options div.error_message {
	max-height: 10rem;
	opacity: 1;
	transform: translateY(0rem) scale(1);
}
// --- Quote Badges --- \\
ul.quote_badges li div.badge_header {
	text-align: left;
}
ul.quote_badges li div.badge_header h6 {
	font-size: 1.5rem;
	letter-spacing: 0.1rem;
}
ul.quote_badges li div.badge_header div.wrap_svg {
	position: absolute;
	top: 1.2rem;
	right: 1.6rem;
}
ul.quote_badges li div.badge_body h3 {
	display: inline-block;
	position: relative;
	margin-bottom: 3.2rem;
	font-size: 6.8rem;
	letter-spacing: -0.4rem;
}
ul.quote_badges li div.badge_body h3 span.currency {
	display: block;
	position: absolute;
	top: 0;
	right: -4rem;
	font-size: 1.4rem;
	letter-spacing: 0;
	text-transform: uppercase;
}
ul.quote_badges li div.badge_body a.btn_rnd {
	width: 17.4rem;
}
ul.quote_badges li div.badge_body a.btn_rnd span.txt_select {
	padding-left: 2.4rem;
}
ul.quote_badges li div.badge_body a.btn_rnd span.txt_select span.txt_ed {
	opacity: 0;
}
// + selected + \\
ul.quote_badges li.selected div.badge_body a.btn_rnd span.txt_select {
	padding-left: 0rem;
}
ul.quote_badges li.selected div.badge_body a.btn_rnd span.txt_select span.txt_ed {
	opacity: 1;
}
// + individual svgs + \\
ul.quote_badges li.badge_single div.badge_header div.wrap_svg {
	width: 2.6rem; // iOS requires a explicit width
}
ul.quote_badges li.badge_annual div.badge_header div.wrap_svg {
	width: 4.4rem; // iOS requires a explicit width
}
// --- Details Captured --- \\
div.details_captured {
	padding: 3.2rem;
	border: 0.2rem solid $nm_ash;
}
div.details_captured ul {
	margin-bottom: 4.8rem;
	text-align: center;
}
div.details_captured ul li {
	margin-bottom: 2rem;
	font-size: 1.4rem;
}
div.details_captured ul li:last-child {
	margin-bottom: 0;
}
div.details_captured ul li strong,
div.details_captured ul li span {
	display: block;
}
div.details_captured ul li strong {
	margin-bottom: 0.6rem;
	font-weight: 400;
	text-transform: uppercase;
}
// --- Quote Details --- \\
div.accordian {
	margin-bottom: 4.8rem;
	text-align: left;
	border: 0.2rem solid $nm_ash;
	border-bottom: none;
}
div.accordian_row {
	position: relative;
	padding: 1.6rem;
	border-bottom: 0.2rem solid $nm_ash;
}
div.accordian_header h4 {
	padding-right: 3.2rem;
	font-size: 1.5rem;
}
a.accordian_toggle {
	// mobile: could make the width 100%, overlay the h4, specify exact px position for .wrap_svg
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	width: 100%; // 4rem;
	height: 4.7rem; // computed height of collapsed row
}
a.accordian_toggle div.wrap_svg {
	position: absolute;
	top: 1.6rem;
	right: 1.6rem;
	width: 1.6rem;
	height: 1.6rem;
}
a.accordian_toggle div.wrap_svg svg {
	fill: $nm_orange;
}
div.accordian_body {
	max-height: 0;
	opacity: 0;
	overflow: hidden;
}
div.accordian_body div.wrap_content {
	padding-top: 2rem;
}
div.accordian_body div.wrap_content h5 {
	margin-bottom: 1.6rem;
	font-size: 1.3rem;
	line-height: 1.2;
}
div.accordian_body div.wrap_content p,
div.accordian_body div.wrap_content ul,
div.accordian_body div.wrap_content ol {
	margin-bottom: 2rem;
}
div.accordian_body div.wrap_content p,
div.accordian_body div.wrap_content ul li,
div.accordian_body div.wrap_content ol li {
	font-family: 'adelle', Georgia,Times, 'Times New Roman', serif;
	font-size: 1.3rem;
}
div.accordian_body div.wrap_content p {
	line-height: 1.4;
}
div.accordian_body div.wrap_content ul,
div.accordian_body div.wrap_content ol {
}
div.accordian_body div.wrap_content ul li,
div.accordian_body div.wrap_content ol li {
	position: relative;
	margin-bottom: 0.6rem;
	padding-left: 1rem;
	line-height: 1.3;
}
div.accordian_body div.wrap_content ul li::before {
	content: "\2022"; // bullet
	display: block;
	position: absolute;
	top: -0.1rem;
	left: 0;
}
div.accordian_body div.wrap_content p:last-child,
div.accordian_body div.wrap_content ul:last-child,
div.accordian_body div.wrap_content ol:last-child {
	margin-bottom: 0;
}
div.accordian_body div.wrap_content ul li:last-child,
div.accordian_body div.wrap_content ol li:last-child {
	margin-bottom: 0;
}
// + interaction + \\
a.accordian_toggle:hover div.wrap_svg svg {
	fill: hsla(0,0%,20%,1);
}
a.accordian_toggle:active div.wrap_svg svg {
	fill: hsla(0,0%,40%,1);
}
// + toggled row + \\
.toggle_row a.accordian_toggle div.wrap_svg {
	transform: rotate(180deg);
}
.toggle_row div.accordian_body {
	max-height: 160rem;
	opacity: 1;
}
// --- Quote Summary --- \\
article.quote_summary table tbody tr td:first-child {
	width: 70%;
	text-align: left;
}
article.quote_summary table tbody tr td:last-child {
	width: 30%;
	text-align: right;
}
article.quote_summary table tbody tr:last-child td {
	font-size: 1.6rem;
}
// --- Quote Required --- \\
form.form_required label {
	display: block;
	margin-bottom: 1.6rem;
	font-size: 1.6rem;
	text-align: left;
}
form.form_required div.wrap_input {
	margin: 0 auto 4.8rem auto;
	max-width: 38.8rem;
}
form.form_required div.wrap_input.required_details {
	margin-bottom: 6rem;
}
form.form_required div.wrap_input div.wrap_element {
	margin-bottom: 2rem;
}
form.form_required div.wrap_input div.wrap_element:last-child {
	margin-bottom: 0;
}
form.form_required div.wrap_input div.wrap_element input {
	-webkit-appearance: none; // fixes iOS not showing box-shadow
}
form.form_required div.wrap_input div.wrap_element input[type="text"] {
	background-color: hsla(0,0%,100%,1);
	box-shadow: inset 0 0 0 0.2rem hsla(0,0%,62%,1);
}
form.form_required div.wrap_input div.wrap_element input[type="text"]:focus {
	box-shadow: inset 0 0 0 0.2rem hsla(0,0%,40%,1);
}
form.form_required button {
	min-width: 22rem;
}
// + required: birthday + \\
form.form_required div.wrap_input div.wrap_element.required_birthday {
	position: relative;
}
form.form_required div.wrap_input div.wrap_element.required_birthday input {
	cursor: pointer;
}
form.form_required div.wrap_input div.wrap_element.required_birthday svg {
	pointer-events: none;
	position: absolute;
	top: 1.6rem;
	right: 1.6rem;
	width: 1.6rem;
	height: 1.6rem;
	fill: $nm_orange;
}

// Thanks
// ----------------------------------------------------------------------------
body.page-template-tpl-thanks-php {
	background-color: $nm_orange;
}
section.thanks_articles {
	background-color: transparent;
}
section.thanks_articles article {
	color: $nm_cream;
	border-bottom: none;
}
section.thanks_articles article div.wrap_svg svg {
	fill: $nm_cream;
}
section.thanks_articles article h1 {
	margin-bottom: 4rem;
	font-family: ITCAvantGardeGothic, Futura, 'Trebuchet MS', Arial, sans-serif;
	font-size: 4.8rem;
	font-style: italic;
	letter-spacing: 0.8rem;
	text-transform: uppercase;
}
// + button + \\
section.thanks_articles article a.brd_cream:hover {
	color: hsla(0,0%,20%,1);
}
section.thanks_articles article a.brd_cream:active {
	color: hsla(0,0%,40%,1);
}
// + temp + \\
body.page-template-tpl-thanks-php footer {
	display: none;
	visibility: hidden;
}

// What's Covered
// ----------------------------------------------------------------------------
form.form_coverage {
	margin: 3.2rem auto 0 auto;
	max-width: 59rem;
}
form.form_coverage div.wrap_element {
	margin: 0 auto 2rem auto;
	max-width: 38.8rem;
}
form.form_coverage div.wrap_element input {
	-webkit-appearance: none; // fixes iOS not showing box-shadow
}
form.form_coverage div.wrap_element input.input_typeahead {
	background-color: hsla(0,0%,100%,1);
	box-shadow: inset 0 0 0 0.2rem hsla(0,0%,62%,1);
}
form.form_coverage div.wrap_element input.input_typeahead:hover {
	background-color: $nm_cream;
}
form.form_coverage div.wrap_element input.input_typeahead:focus {
	box-shadow: inset 0 0 0 0.2rem hsla(0,0%,40%,1);
}
form.form_coverage div.wrap_element span.tt-dropdown-menu {
	transform: translateX(0.1rem);
	width: calc(100% - 0.3rem);
}
// --- Form Response --- \\
div.form_response {
	position: relative;
	margin: 0 auto;
	max-width: 40.4rem;
	height: 0rem;
}
div.form_response div {
	position: absolute;
	top: 3.2rem;
	right: 0;
	left: 0;
	padding: 0 2rem;
	height: 5.5rem;
	line-height: 5.4rem;
	vertical-align: middle;
	border-radius: 1rem;
	opacity: 0;
	visibility: hidden;
}
div.form_response div svg {
	position: absolute;
	left: 2rem;
	width: 2.8rem;
	height: 2.8rem;
	fill: $nm_cream;
}
div.form_response div h4 {
	display: inline-block;
	line-height: 1.1;
	text-transform: uppercase;
	color: $nm_cream;
	vertical-align: middle;
}
div.form_response div h4 span {
	white-space: nowrap;
}
div.form_response div.response_success {
	background-color: $nm_green;
}
div.form_response div.response_success svg {
	top: 1.4rem;
	width: 2.8rem;
	height: 2.8rem;
}
div.form_response div.response_success h4 {
	padding-left: 3.2rem;
	font-size: 1.8rem;
	letter-spacing: 0.2rem;
}
div.form_response div.response_fail {
	background-color: $nm_red;
}
div.form_response div.response_fail svg {
	top: 1.6rem;
	width: 2.4rem;
	height: 2.4rem;
}
div.form_response div.response_fail h4 {
	padding-left: 4.2rem;
	font-size: 1.1rem;
	letter-spacing: 0.1rem;
}
// + success & fail response + \\
div.form_response.success,
div.form_response.fail {
	height: 8.7rem; // div height (55px) + position top (32px)
}
div.form_response.success div.response_success,
div.form_response.fail div.response_fail {
	opacity: 1;
	visibility: visible;
}

// Packages
// ----------------------------------------------------------------------------
ul.packages_badges li div.badge_header p.option_letter {
	position: absolute;
	top: 1.6rem;
	left: 1.6rem;
	font-size: 2.2rem;
}
ul.packages_badges li div.badge_header h6 {
	font-size: 1.6rem;
	font-style: italic;
	letter-spacing: 0.3rem;
	line-height: 1.2;
}
ul.packages_badges li div.badge_header div.wrap_svg {
	margin: 0 auto 1.6rem auto;
}
ul.packages_badges li div.badge_body p {
	display: table-cell;
	vertical-align: middle;
	font-size: 1.5rem;
	font-style: italic;
	line-height: 1.4;
}
// --- Packaged Included --- \\
article.packages_included table {
	margin-bottom: 3.2rem;
}
article.packages_included table tr td {
	display: block;
	text-align: center;
	border-bottom: 0.2rem solid $nm_ash;
}
article.packages_included table tr td:last-child {
	border-bottom: none;
}

// Support
// ----------------------------------------------------------------------------
/*
section.support_header div.wrap_svg.icon {
	transform: rotate(45deg);
}
*/
body.page-template-tpl-support-php section.page_callout p br,
article.support_contacts p br {
	display: none; // rene requested a line break... activates at 768px
}

// Partners
// ----------------------------------------------------------------------------
article.ambassadors p a[href^="mailto:"] {
	display: table;
	margin: 0 auto;
	font-family: ITCAvantGardeGothic, Futura, 'Trebuchet MS', Arial, sans-serif;
}