// ==|== media queries ========================================================
// WIDTHS: 480px / 568px / 768px / 960px
// ============================================================================

@media only screen and (min-width: 30em) { // 480px / 16px = 30em
}

@media only screen and (min-width: 35.5em) { // 568px / 16px = 35.5em

// ==|== page styles ==========================================================
// ============================================================================

	// Home Page
	// ----------------------------------------------------------------------------
	// --- Home Details --- \\
	section.home_details article ul {
		text-align: left;
		column-count: 2;
		column-gap: 3.2rem;
	}
	// --- Form: Quote --- \\
	// + individual columns + \\
	fieldset.form_quote div.wrap_input div.col-1 div.wrap_element {
		display: inline-block;
	}
	fieldset.form_quote div.wrap_input div.col-1 span.txt {
		margin: 0 2rem;
	}

}

@media only screen and (min-width: 48em) { // 768px / 16px = 48em

// ==|== primary styles =======================================================
// ============================================================================

	// Forms
	// ----------------------------------------------------------------------------
	input[type="text"] {
		padding: 0 4.4rem 0 2rem;
		height: 5.2rem;
	}
	// --- Select Dropdown --- \\
	// + dropdown toggle + \\
	div.wrap_select div.dropdown_toggle {
		height: 5.2rem;
	}
	div.wrap_select div.dropdown_toggle span {
		padding-left: 2rem;
		padding-right: 5.2rem;
		line-height: 5.2rem;
	}
	div.wrap_select div.dropdown_toggle svg {
		top: 1.8rem;
		right: 2rem;
	}
	// + dropdown list + \\
	div.wrap_select div.wrap_dropdown ul {
		padding-top: 5.2rem;
	}
	div.wrap_select div.wrap_dropdown ul li a {
		padding: 1.7rem 2rem;
		font-size: 1.8rem;
	}
	// + dropdown scrollable + \\
	div.wrap_select div.wrap_dropdown span.fix_ios-scroll {
		top: 5.2rem;
	}
	div.wrap_select div.wrap_dropdown span.fix_ios-scroll ul {
		padding-top: 0;
	}

	// Buttons
	// ----------------------------------------------------------------------------
	.btn_rnd {
		padding: 0 2.4rem;
		height: 5.2rem;
		line-height: 5.2rem;
	}

// ==|== common sections ======================================================
// ============================================================================

	// Header
	// ----------------------------------------------------------------------------
	// --- Wordmark --- \\
	header a.wrap_svg {
		left: 3.2rem;
	}
	// --- Nav Toggle --- \\
	a.nav_toggle {
		right: 3.2rem;
	}

	// Footer
	// ----------------------------------------------------------------------------
	footer {
		padding: 8rem 2rem;
	}

// ==|== page styles ==========================================================
// ============================================================================

	// Home Page
	// ----------------------------------------------------------------------------
	// --- Home Intro --- \\
	section.home_intro div.wrap_svg {
		padding: 10rem 3.2rem;
		max-width: 78.7rem; // svg width (723px) + padding (2 x 32px)
	}
	// --- Home Form --- \\
	form.form_home {
		padding-top: 4.8rem;
	}
	// --- Form: Destination --- \\
	fieldset.form_destination {
		position: relative;
		padding: 0 3.2rem 4.8rem 3.2rem;
	}
	fieldset.form_destination legend {
		margin-bottom: 4rem;
		letter-spacing: 0.5rem;
	}
	fieldset.form_destination div.wrap_element {
		margin: 0;
	}
	fieldset.form_destination div.wrap_element input[type="text"] {
		height: 6rem;
		font-size: 2.1rem;
	}
	fieldset.form_destination div.wrap_element svg.svg_ui-globe {
		top: 1.7rem;
		right: 2rem;
		width: 2.6rem;
		height: 2.6rem;
	}
	fieldset.form_destination > a {
		position: absolute;
		bottom: 4.8rem; // padding-bottom of fieldset
		right: 3.2rem; // padding-right
		height: 6rem;
		margin: 0;
		line-height: 6rem;
	}
	// --- Form: Quote --- \\
	fieldset.form_quote div.wrap_input div.wrap_element svg {
		top: 1.8rem;
		right: 2rem;
	}
	// + individual columns + \\
	fieldset.form_quote div.wrap_input div.col-1 div.wrap_element svg {
		top: 1.6rem;
		right: 1.8rem;
		width: 2rem;
		height: 2rem;
	}
	// --- Home Details --- \\
	section.home_details {
		padding: 6rem 3.2rem 0 3.2rem;
	}
	section.home_details article {
		padding-left: 3.2rem;
		padding-right: 3.2rem;
		border-left: 0.2rem solid $nm_orange;
		border-right: 0.2rem solid $nm_orange;
	}
	section.home_details article:first-child {
		border-top: 0.2rem solid $nm_orange;
	}

}

@media only screen and (min-width: 60em) { // 960px / 16px = 60em

// ==|== common sections ======================================================
// ============================================================================

	// Header
	// ----------------------------------------------------------------------------
	header {
		padding: 3.6rem 3.2rem 0 3.2rem;
		min-height: 8.8rem;
	}
	// --- Wordmark --- \\
	header a.wrap_svg {
		top: 2.2rem;
	}
	// --- Nav Toggle --- \\
	a.nav_toggle {
		display: none;
		visibility: hidden;
	}
	// --- Navigation --- \\
	nav.nav_primary {
		max-height: none;
		text-align: right;
		background-color: transparent;
		overflow-y: visible;
	}
	nav.nav_primary ul {
		padding: 0;
	}
	nav.nav_primary ul li {
		display: inline-block;
		margin-right: 2rem;
		margin-bottom: 0;
	}
	nav.nav_primary ul li:last-child {
		margin-right: 0;
	}
	nav.nav_primary ul li a {
		font-size: 1.4rem;
		color: hsla(0,0%,20%,1);
	}
	nav.nav_primary ul li a:hover {
		color: $nm_orange;
	}
	nav.nav_primary ul li a:active {
		color: $nm_orange-L;
	}
	// --- Toggled: Mobile Nav --- \\
	body.toggled_mobile-nav nav.nav_primary {
		max-height: none;
	}

// ==|== page styles ==========================================================
// ============================================================================

	// Home Page
	// ----------------------------------------------------------------------------
	// --- Home Details --- \\
	section.home_details article {
		padding-top: 7.2rem;
		padding-bottom: 7.2rem;
	}
	section.home_details article div.wrap_svg {
		margin-bottom: 6rem;
		width: 7.2rem;
		height: 7.2rem;
	}
	section.home_details article h2 {
		margin-bottom: 3.2rem;
	}
	section.home_details article p {
		margin-bottom: 6rem;
		font-size: 1.7rem;
	}
	section.home_details article ul {
		margin-bottom: 6rem;
		column-count: 3;
	}

}

@media only screen and (min-width: 84.625em) { // 1354px / 16px = 84.625em

// ==|== page styles ==========================================================
// ============================================================================

	// Home Page
	// ----------------------------------------------------------------------------
	// --- Form: Quote --- \\
	fieldset.form_quote h3 {
		padding: 4rem 0;
		border-bottom: 0.1rem solid $nm_L21;
	}
	fieldset.form_quote div.wrap_input {
		display: flex;
		flex-direction: row;
		// align-items: center;
		// justify-content: center;
		// align-content: stretch;
	}
	fieldset.form_quote div.wrap_input > div {
		padding: 4rem 0;
		// flex: 1 0 0;
		border-top: none;
	}
	fieldset.form_quote div.wrap_input > div:nth-child(1n+2) {
		border-left: 0.1rem solid $nm_L21;
	}
	// + individual columns + \\
	fieldset.form_quote div.wrap_input div.col-1 {
		width: 50rem;
		text-align: left;
	}
	fieldset.form_quote div.wrap_input div.col-2 {
		width: 26.6rem;
	}
	fieldset.form_quote div.wrap_input div.col-2 div.wrap_element p {
		margin-top: 2.2rem;
	}
	fieldset.form_quote div.wrap_input div.col-3 {
		width: 34.2rem;
	}
	fieldset.form_quote div.wrap_input div.col-4 {
		position: relative;
		width: 24.6rem;
	}
	fieldset.form_quote div.wrap_input div.col-4 button {
		position: absolute;
		top: 50%;
		right: 0;
		margin: -3.4rem 0 0 0; // height of button (68px) / 2
	}

}

@media only screen and (min-width: 90em) { // 1440px / 16px = 90em



}

/*
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { // IE10 & IE11
}
*/