// SASS Variables
// ----------------------------------------------------------------------------
$hsl_orange: hsl(16,100%,54%);
$hsl_green:  hsl(153,79%,42%);
$hsl_cream:  hsl(60,11%,93%);
$hsl_ash:    hsl(60,5%,78%);
$hsl_red:    hsl(0,76%,61%);
$hsl_bronze: hsl(14,48%,44%);
$hsl_silver: hsl(180,2%,55%);
$hsl_gold:   hsl(35,62%,57%);

$hsla_orange-0: hsla(16,100%,54%,0);

$hsl_L100: hsl(0,0%,100%);
$hsl_L70:  hsl(0,0%,70%);
$hsl_L58:  hsl(0,0%,58%);
$hsl_L40:  hsl(0,0%,40%);
$hsl_L34:  hsl(0,0%,34%);
$hsl_L21:  hsl(0,0%,21%);
$hsl_L15:  hsl(0,0%,15%);
$hsl_L12:  hsl(0,0%,12%);
$hsl_L7:   hsl(0,0%,7%);

$boxshadow_drop: 0.1rem 0.1rem 0.3rem 0.1rem hsla(0,0%,0%,0.4);


// One stylesheet to rule them all
// ----------------------------------------------------------------------------
@import 'base';
@import 'main';
@import 'queries';