// SASS Variables
// ----------------------------------------------------------------------------
$nm_orange:    hsla(16,100%,54%,1);
$nm_orange-L:  hsla(16,100%,64%,1);
$nm_orange-D:  hsla(16,100%,44%,1);
$nm_orange-A0: hsla(16,100%,54%,0);

$nm_cream:   hsla(60,11%,93%,1);
$nm_cream-D: hsla(60,11%,83%,1);

$nm_L58: hsla(0,0%,58%,1);
$nm_L21: hsla(0,0%,21%,1);
$nm_L15: hsla(0,0%,15%,1);
$nm_L7:  hsla(0,0%,7%,1);

$boxshadow_drop: 0.1rem 0.1rem 0.3rem 0.1rem hsla(0,0%,0%,0.4);


// One stylesheet to rule them all
// ----------------------------------------------------------------------------
@import 'base';
@import 'main';
@import 'queries';