-# :action and :method will need to be configured by Matt
%form#form_required.form_required{:action => "", :method => "", "data-container" => "width_868"}

	%h2 Required Information

	%input{:type => "hidden", :name => "st", :value => "b"}
	%input#hidden-annual{:type => "hidden", :name => "annual", :value => "0"}

	.wrap_input.required_traveller.clearfix

		%label Traveller 1 (Cardholder)

		.wrap_element.required_birthday
			%input.datepicker.readonly{:type => "text", :name => "dob[0]", :value => "", :placeholder => "Birthday", :required => true, :readonly => true, "data-provide" => "datepicker", "data-date-format" => "yyyy-mm-dd", "data-date-autoclose" => "true", "data-date-start-view" => "decade"}
			%svg.ui_calendar{:viewBox => "0 0 64 64"}
				%use{"xlink:href" => "#ui_calendar"}

		.wrap_element.required_fname
			%input.fname{:type => "text", :name => "fname[0]", :value => "", :placeholder => "First Name", :required => true}

		.wrap_element.required_lname
			%input.lname{:type => "text", :name => "lname[0]", :value => "", :placeholder => "Last Name", :required => true}

		.wrap_element.required_email
			%input.email{:type => "text", :name => "email[0]", :value => "", :placeholder => "Email Address", "data-validation" => "required", :required => true}

	.wrap_input.required_traveller.clearfix

		%label Traveller 2

		.wrap_element.required_birthday
			%input.datepicker{:type => "text", :name => "dob[1]", :value => "", :placeholder => "Birthday", :required => true, :readonly => true, "data-provide" => "datepicker", "data-date-format" => "yyyy-mm-dd", "data-date-autoclose" => "true", "data-date-start-view" => "decade"}
			%svg.ui_calendar{:viewBox => "0 0 64 64"}
				%use{"xlink:href" => "#ui_calendar"}

		.wrap_element.required_fname
			%input.fname{:type => "text", :name => "fname[1]", :value => "", :placeholder => "First Name", :required => true}

		.wrap_element.required_lname
			%input.lname{:type => "text", :name => "lname[1]", :value => "", :placeholder => "Last Name", :required => true}

		.wrap_element.required_email
			%input.email{:type => "text", :name => "email[1]", :value => "", :placeholder => "Email Address", "data-validation" => "required", :required => true}

	.wrap_input.required_details.clearfix

		.wrap_element.required_address
			%label{:for => "required_address"} Street Address
			%input#required_address.address{:type => "text", :name => "address", :value => "", :required => true}

		.wrap_element.required_city
			%label{:for => "required_city"} City
			%input#required_city.city{:type => "text", :name => "city", :value => "", :required => true}

		.wrap_element.required_postal
			%label{:for => "required_postal"} Postal Code
			%input#required_postal.postal{:type => "text", :name => "postal", :value => "", :required => true}

		.wrap_element.required_telephone
			%label{:for => "required_telephone"} Telephone
			%input#required_telephone.telephone{:type => "text", :name => "telephone", :value => "", :placeholder => "(XXX) XXX-XXXX", :required => true}

	%span.wrap_checkbox
		%input#required_read.required_read.visuallyhidden{:type => "checkbox", :name => "read", :value => "read", :tabindex => "-1", :required => true}
		%label{:for => "required_read"}
			I have read the
			%a{:href => "#", :title => "Terms & Conditions", :target => "_blank"} Terms and Conditions.
			%br
			For more detail, please review our
			%a{:href => "#", :title => "Policy Manual", :target => "_blank"} Policy Manual.
			%svg.ui_checkmark{:viewBox => "0 0 64 64"}
				%use{"xlink:href" => "#ui_checkmark"}

	.wrap_buttons
		%a.btn_rnd.brd_orange{:href => "quote_3-review.html", :title => "Go Back"} Go Back
		%button#submit_finalize.btn_rnd.fill_green{:type => "submit"} Pay Now