%form#form_home.form_home.has_dropdown

	%fieldset.form_destination

		%legend Where are you going?

		#wrap_select-destination.wrap_select{"data-selected" => ""}

			%select#select_destination{:name => "select_destination", :required => true}
				%option{:disabled => true, :selected => true, :value => true} select an option
				%option{:value => "destination_ottawa-canada"} Ottawa, Canada
				%option{:value => "destination_toronto-canada"} Toronto, Canada
				%option{:value => "destination_berlin-germany"} Berlin, Germany
				%option{:value => "destination_mexicocity-mexico"} Mexico City, Mexico
				%option{:value => "destination_boston-usa"} Boston, USA
				%option{:value => "destination_newyork-usa"} New York, USA
				%option{:value => "destination_zurich-switzerland"} Z&uuml;rich, Switzerland

			.dropdown_toggle
				%span.dropdown_placeholder.truncate Select Your Destination
				%svg.svg_ui-globe
					%use{"xlink:href" => "#ui_globe"}

			-# if UL > LI.length >= 6: add class "scrollable"
			.wrap_dropdown.scrollable

				-# if UL > LI.length >= 6: output <span>
				%span.fix_ios-scroll

					%ul.dropdown_list
						%li.dropdown_option
							%a.dropdown_link{:href => "#", "data-value" => "destination_ottawa-canada"} Ottawa, Canada
						%li.dropdown_option
							%a.dropdown_link{:href => "#", "data-value" => "destination_toronto-canada"} Toronto, Canada
						%li.dropdown_option
							%a.dropdown_link{:href => "#", "data-value" => "destination_berlin-germany"} Berlin, Germany
						%li.dropdown_option
							%a.dropdown_link{:href => "#", "data-value" => "destination_mexicocity-mexico"} Mexico City, Mexico
						%li.dropdown_option
							%a.dropdown_link{:href => "#", "data-value" => "destination_boston-usa"} Boston, USA
						%li.dropdown_option
							%a.dropdown_link{:href => "#", "data-value" => "destination_newyork-usa"} New York, USA
						%li.dropdown_option
							%a.dropdown_link{:href => "#", "data-value" => "destination_zurich-switzerland"} Zürich, Switzerland

		%button#submit_home.submit_home.btn_rnd.btn_cream{:type => "button"} Get A Price