%form#form_quote.form_quote.has_dropdown

	%h6 We just need a few details to get you the most accurate price:

	-# receives the value from #input_destination
	%input#hidden_destination{:type => "hidden", :name => "hidden_destination", :value => ""}

	.wrap_input.clearfix{"data-container" => "width_1354"}

		.column.col-1

			%label When are you going?

			#datepicker.input-daterange.input-group

				.wrap_element
					%input#date_start.date_start{:type => "text", :name => "date_start", :value => "", :placeholder => "Pick start date", :required => true}
					%svg.svg_ui-calendar
						%use{"xlink:href" => "#ui_calendar"}

				%span.txt Til

				.wrap_element
					%input#date_end.date_end{:type => "text", :name => "date_end", :value => "", :placeholder => "Pick end date", :required => true}
					%svg.svg_ui-calendar
						%use{"xlink:href" => "#ui_calendar"}

			%span.wrap_checkbox
				%input#check_family.check_family.visuallyhidden{:type => "checkbox", :name => "check_family", :value => "check_family"}
				%label{:for => "check_family"}
					I’m travelling with my family
					%svg.svg_ui-checkmark
						%use{"xlink:href" => "#ui_checkmark"}

		.wrap_columns.clearfix

			.column.col-2

				%label Who is going?

				.wrap_element
					%input#age-groups.age-groups{:type => "text", :name => "age-groups", :value => "", :placeholder => "Enter ages", :required => true}
					%p e.g. 35, 25, 16

			.column.col-3

				%label Where are you from?

				#wrap_select-location.wrap_select{"data-selected" => ""}

					%select#select_location{:name => "select_location", :required => true}
						%option{:disabled => true, :selected => true, :value => true} select an option
						%option{:value => "52"} Alberta
						%option{:value => "53"} British Columbia
						%option{:value => "54"} Manitoba
						%option{:value => "55"} New Brunswick
						%option{:value => "56"} Newfoundland
						%option{:value => "57"} North West Territories
						%option{:value => "58"} Nova Scotia
						%option{:value => "59"} Nunavut
						%option{:value => "60"} Ontario
						%option{:value => "61"} Prince Edward Island
						%option{:value => "62"} Quebec
						%option{:value => "63"} Saskatchewan
						%option{:value => "64"} Yukon

					.dropdown_toggle
						%span.dropdown_placeholder.truncate Select Your Location
						%svg.svg_ui-arrow-down
							%use{"xlink:href" => "#ui_arrow-down"}

					-# if UL > LI.length >= 6: add class "scrollable"
					.wrap_dropdown.scrollable

						-# if UL > LI.length >= 6: output <span>
						%span.fix_ios-scroll

							%ul.dropdown_list
								%li.dropdown_option
									%a.dropdown_link.truncate{:href => "#", "data-value" => "52"} Alberta
								%li.dropdown_option
									%a.dropdown_link.truncate{:href => "#", "data-value" => "53"} British Columbia
								%li.dropdown_option
									%a.dropdown_link.truncate{:href => "#", "data-value" => "54"} Manitoba
								%li.dropdown_option
									%a.dropdown_link.truncate{:href => "#", "data-value" => "55"} New Brunswick
								%li.dropdown_option
									%a.dropdown_link.truncate{:href => "#", "data-value" => "56"} Newfoundland
								%li.dropdown_option
									%a.dropdown_link.truncate{:href => "#", "data-value" => "57"} North West Territories
								%li.dropdown_option
									%a.dropdown_link.truncate{:href => "#", "data-value" => "58"} Nova Scotia
								%li.dropdown_option
									%a.dropdown_link.truncate{:href => "#", "data-value" => "59"} Nunavut
								%li.dropdown_option
									%a.dropdown_link.truncate{:href => "#", "data-value" => "60"} Ontario
								%li.dropdown_option
									%a.dropdown_link.truncate{:href => "#", "data-value" => "61"} Prince Edward Island
								%li.dropdown_option
									%a.dropdown_link.truncate{:href => "#", "data-value" => "62"} Quebec
								%li.dropdown_option
									%a.dropdown_link.truncate{:href => "#", "data-value" => "63"} Saskatchewan
								%li.dropdown_option
									%a.dropdown_link.truncate{:href => "#", "data-value" => "64"} Yukon

		.column.col-4

			%button#submit_home.submit_home.btn_rnd.fill_orange{:type => "button"} Get A Quote