.list_activities.clearfix{"data-container" => "width_1050"}
	.list_column
		%p Adventure Racing
		%p Arctic and Antarctic Expedition
		%p Mountaineering
		%p Rock Climbing
		%p Gator Wrestling
		%p Bungee Jumping
		%p Base Jumping
	.list_column
		%p Mountain Biking
		%p Storm Chasing
		%p Skydiving
		%p Paragliding
		%p Kite surfing
		%p Running with the bulls
		%p Sailing &amp; Offshore Sailing
	.list_column
		%p Ski mountaineering
		%p Dog sledding
		%p Ultra endurance events
		%p Heliskiing &amp; Heliboarding
		%p Skyrunning
		%p Speedflying
		%p Trekking

%a.btn_rnd.brd_orange{:href => "coverage.html", :title => "What We Cover"} What We Cover