%form#form_quote.form_quote.has_dropdown

	%h3 We just need a few details to get you the most accurate price:

	.wrap_input{"data-container" => "width-1354"}

		.col-1

			%label Where are you going?

			.wrap_element
				%input#date_begin.date_begin.pikaday_input{:type => "text", :name => "date_begin", :value => "", :placeholder => "Pick begin date", :required => true}
				%svg.svg_ui-calendar
					%use{"xlink:href" => "#ui_calendar"}

			%span.txt Til

			.wrap_element
				%input#date_end.date_end.pikaday_input{:type => "text", :name => "date_end", :value => "", :placeholder => "Pick end date", :required => true}
				%svg.svg_ui-calendar
					%use{"xlink:href" => "#ui_calendar"}

			%span.wrap_checkbox
				%input#check_family.check_family.visuallyhidden{:type => "checkbox", :name => "check_family", :value => "check_family"}
				%label{:for => "check_family"}
					I’m travelling with my family
					%svg.svg_ui-checkmark
						%use{"xlink:href" => "#ui_checkmark"}

		.col-2

			%label Who is going?

			.wrap_element
				%input#age-groups.age-groups{:type => "text", :name => "age-groups", :value => "", :placeholder => "Enter ages", :required => true}
				%p e.g. 35, 25, 16

		.col-3

			%label Where are you from?

			#wrap_select-location.wrap_select{"data-selected" => ""}

				%select#select_location{:name => "select_location", :required => true}
					%option{:disabled => true, :selected => true, :value => true} select an option
					%option{:value => "destination_ottawa-canada"} Ottawa, Canada
					%option{:value => "destination_toronto-canada"} Toronto, Canada
					%option{:value => "destination_berlin-germany"} Berlin, Germany
					%option{:value => "destination_mexicocity-mexico"} Mexico City, Mexico
					%option{:value => "destination_boston-usa"} Boston, USA
					%option{:value => "destination_newyork-usa"} New York, USA
					%option{:value => "destination_zurich-switzerland"} Z&uuml;rich, Switzerland

				.dropdown_toggle
					%span.dropdown_placeholder.truncate Select Your Location
					%svg.svg_ui-arrow-down
						%use{"xlink:href" => "#ui_arrow-down"}

				-# if UL > LI.length >= 6: add class "scrollable"
				.wrap_dropdown.scrollable

					-# if UL > LI.length >= 6: output <span>
					%span.fix_ios-scroll

						%ul.dropdown_list
							%li.dropdown_option
								%a.dropdown_link.truncate{:href => "#", "data-value" => "destination_ottawa-canada"} Ottawa, Canada
							%li.dropdown_option
								%a.dropdown_link.truncate{:href => "#", "data-value" => "destination_toronto-canada"} Toronto, Canada
							%li.dropdown_option
								%a.dropdown_link.truncate{:href => "#", "data-value" => "destination_berlin-germany"} Berlin, Germany
							%li.dropdown_option
								%a.dropdown_link.truncate{:href => "#", "data-value" => "destination_mexicocity-mexico"} Mexico City, Mexico
							%li.dropdown_option
								%a.dropdown_link.truncate{:href => "#", "data-value" => "destination_boston-usa"} Boston, USA
							%li.dropdown_option
								%a.dropdown_link.truncate{:href => "#", "data-value" => "destination_newyork-usa"} New York, USA
							%li.dropdown_option
								%a.dropdown_link.truncate{:href => "#", "data-value" => "destination_zurich-switzerland"} Z&uuml;rich, Switzerland

		.col-4

			%button#submit_home.submit_home.btn_rnd.fill_orange{:type => "button"} Get A Quote