%footer

	%nav.nav_footer
		%ul
			%li
				%a{:href => "partners.html", :title => "Partner With Us"} Partner With Us
			%li
				%a{:href => "https://www.facebook.com/northmanco", :target => "_blank", :title => "Facebook"} Facebook
			%li
				%a{:href => "https://twitter.com/northmanco", :target => "_blank", :title => "Twitter"} Twitter

	%ul.footer_contact
		%li Northman
		%li
			%a.email_secret.email_info.email_replace{:href => "#", :title => "Email Northman"} email us
		%li
			%a{:href => "tel:+1-844-207-7522", :title => "Call us"} +1 (844) 207-7522

	:plain
		<p>Your privacy is paramount. Please read our <a href="#" title="View our Privacy Policy">privacy policy</a> and <a href="#" title="View our Terms of Service">terms of service</a>.</p>

= Haml::Engine.new(File.read("dev/haml/partials/_doc_scripts.haml")).render