%header

	%div{"data-container" => "width-padding_1200"}

		%h1.visuallyhidden Northman
		%a.wordmark.wrap_svg{:href => "http://northman.co", :title => "Return Home"}
			%svg.svg_nm-wordmark
				%use{"xlink:href" => "#nm_wordmark"}

		%h2 Insurance For The Wild

		%a#nav_toggle.nav_toggle{:href => "#", :title => "Toggle Navigation"}
			.wrap_menu
				%span.one
				%span.two
				%span.three

		%nav#nav_primary.nav_primary

			%ul
				%li
					%a{:href => "why.html", :title => "Why Northman"} Why Northman
				%li
					%a{:href => "packages.html", :title => "Packages"} Packages
				%li
					%a{:href => "coverage.html", :title => "What’s Covered"} What’s Covered
				%li
					%a{:href => "support.html", :title => "Support"} Support

			.social_links
				%a.social_twitter.wrap_svg{:href => "https://twitter.com/northmanco", :target => "_blank", :title => "Follow us on Twitter"}
					%svg.svg_social-twitter
						%use{"xlink:href" => "#social_twitter"}
				%a.social_facebook.wrap_svg{:href => "https://www.facebook.com/northmanco", :target => "_blank", :title => "Like us on Facebook"}
					%svg.svg_social-facebook
						%use{"xlink:href" => "#social_facebook"}