#svgInject
	/ inject:svg
	/ endinject

%header

	-# do not need specified width
	%div{"data-container" => ""}

		%h1.visuallyhidden Northman
		%a.wordmark.wrap_svg{:href => "index.html", :title => "Return Home"}
			%svg.nm_wordmark{:viewBox => "0 0 220 60"}
				%use{"xlink:href" => "#nm_wordmark"}

		%h2 Insurance For The Wild

		%a#nav_toggle.nav_toggle{:href => "#", :title => "Toggle Navigation"}
			.wrap_menu
				%span.one
				%span.two
				%span.three

		%nav#nav_primary.nav_primary

			%ul.nav_list
				%li
					%a{:href => "why.html", :title => "Why Northman"} Why Northman
				%li
					%a{:href => "packages.html", :title => "Packages"} Packages
				%li
					%a{:href => "coverage.html", :title => "What’s Covered"} What’s Covered
				%li
					%a{:href => "#", :title => "Life"} Life
				%li
					%a{:href => "#", :title => "FAQ"} FAQ
				%li
					%a{:href => "support.html", :title => "Support"} Support
				%li
					%a{:href => "blog.html", :title => "Blog"} Blog

			.social_links
				%a.social_call.wrap_svg{:href => "tel:+1-844-207-7522", :title => "Call Us"}
					%span.phone +1 (844) 207-7522
					%svg.social_call{:viewBox => "0 0 64 64"}
						%use{"xlink:href" => "#social_call"}
				%a.social_facebook.wrap_svg{:href => "https://www.facebook.com/northmanco", :target => "_blank", :title => "Like us on Facebook"}
					%svg.social_facebook{:viewBox => "0 0 64 64"}
						%use{"xlink:href" => "#social_facebook"}
				%a.social_twitter.wrap_svg{:href => "https://twitter.com/northmanco", :target => "_blank", :title => "Follow us on Twitter"}
					%svg.social_twitter{:viewBox => "0 0 64 64"}
						%use{"xlink:href" => "#social_twitter"}
				%a.social_instagram.wrap_svg{:href => "https://instagram.com/northmanco/", :target => "_blank", :title => "See us on Instagram"}
					%svg.social_instagram{:viewBox => "0 0 64 64"}
						%use{"xlink:href" => "#social_instagram"}