%aside#modal_error-60.modal_error-60{"data-modal" => "inactive"}

	.modal_body

		%h5 Over 60?

		%p
			:plain
				Give us a call at <a href="tel:+1-844-207-7522" title="Call us">+1 (844) 207-7522</a>. We just have a couple of quick medical questions for you and then we can give you a quote over the phone.

		%a#cancel_error.cancel_error.btn_rnd.brd_grey.modal_close{:href => "#modal_error-60", :title => "Got It!"} Got It!