%h4 Emergency Medical Coverage
%ul
	%li This insurance provides coverage in case of injury or sickness requiring an emergency hospital stay or emergency medical treatment while travelling outside the Insured(s) home province or territory within Canada.
	%li Maximum coverage - $5 million (CAD).
	%li The Insured must be a Canadian resident and insured and/or eligible for benefits under the government health care plan of their province or territory of residence.
	%li Includes a $0 (CAD) deductible with a buy-out option.
	%li Other deductible options available.
	%li Family plan available.

%h5 Benefits
%p Includes licensed ambulance, emergency dental expense, prescription drug reimbursement, emergency medical transport, family transportation expense, board and lodging for the Insured or the travelling companion while confined to hospital, escort home of insured children and more.

%h5 Coverage and eligibility
%ul
	%li This insurance provides coverage in case of injury or sickness requiring an emergency hospital stay or emergency medical treatment while travelling outside the Insured(s) home province or territory abroad or within Canada.
	%li Maximum coverage - $5 million (CAD).
	%li The Insured must be a Canadian resident and insured and/or eligible for benefits under the government health care plan of their province or territory of residence.
	%li Includes a $0 (CAD) deductible with a buy-out option.
	%li Other deductible options available.
	%li Family plan available.

%h4 Trip Cancelation and Delay
%ul
	%li This insurance reimburses travel costs if the travel plans are cancelled prior to departure, or if they are disrupted after the trip has begun.
	%li Maximum coverage - Up to sum insured for trip cancellation or up to $25,000 (CAD) for trip interruption.
	%li The Insured must be a Canadian resident.
	%li Covered risks include: unexpected sickness, injury and/or death of the Insured, or travelling companion, the Insured's immediate family or of the Insured's travelling companion's immediate family, natural disaster, travel advisory, subpoena, involuntary job loss, missed connection, the non-issuance of a travel visa and more.

%h4 Baggage Coverage
%ul
	%li This insurance pays for the loss, damage, destruction or theft of personal effects owned by the Insured while in transit, or while in any hotel or any other building, en route anywhere in the world, on water, land or in the air.
	%li Maximum coverage - $1,500 (CAD) per person or $3,000 per family.
	%li The Insured must be a Canadian resident or a visitor to Canada.