%h2 Annual Membership Coverage Includes:
-# %h2 Annual Family Membership Coverage Includes:

.accordian

	.accordian_row
		.accordian_header
			%h4 Emergency Medical and Evacuation Coverage $5,000,000 per trip
			%a.accordian_toggle{:href => "#", :title => "Expand"}
				.wrap_svg
					%svg.ui_arrow{:viewBox => "0 0 64 64"}
						%use{"xlink:href" => "#ui_arrow"}
		.accordian_body
			.wrap_content
				%h5 Emergency medical coverage and eligibility
				%ul
					%li This insurance provides coverage in case of injury or sickness requiring an emergency hospital stay or emergency medical treatment while travelling outside the Insured(s) home province or territory within Canada.
					%li Maximum coverage - $5 million (CAD).
					%li The Insured must be a Canadian resident and insured and/or eligible for benefits under the government health care plan of their province or territory of residence.
					%li Includes a $0 (CAD) deductible with a buy-out option.
					%li Other deductible options available.
					%li Family plan available.
				%h5 Worldwide medical coverage and eligibility
				%ul
					%li This insurance provides coverage in case of injury or sickness requiring an emergency hospital stay or emergency medical treatment while travelling outside the Insured(s) home province or territory abroad or within Canada.
					%li Maximum coverage - $5 million (CAD).
					%li The Insured must be a Canadian resident and insured and/or eligible for benefits under the government health care plan of their province or territory of residence.
					%li Includes a $0 (CAD) deductible with a buy-out option.
					%li Other deductible options available.
					%li Family plan available.
				%h5 Benefits
				%p Includes licensed ambulance, emergency dental expense, prescription drug reimbursement, emergency medical transport, family transportation expense, board and lodging for the Insured or the travelling companion while confined to hospital, escort home of insured children and more.

	.accordian_row
		.accordian_header
			%h4 Accidental Death and Dismemberment
			%a.accordian_toggle{:href => "#", :title => "Expand"}
				.wrap_svg
					%svg.ui_arrow{:viewBox => "0 0 64 64"}
						%use{"xlink:href" => "#ui_arrow"}
		.accordian_body
			.wrap_content
				%ul
					%li This insurance provides coverage in the event of the Insured's death or dismemberment as a result of an injury while riding as a fare-paying passenger on an airplane, helicopter or common carrier (bus, train, boat).
					%li Air Flight/Common Carrier maximum coverage - $100,000 (CAD)
					%li 24-Hour Accident maximum coverage - $25,000 (CAD)
					%li The Insured must be a Canadian resident.

	.accordian_row
		.accordian_header
			%h4 Trip Cancelation and Delay
			%a.accordian_toggle{:href => "#", :title => "Expand"}
				.wrap_svg
					%svg.ui_arrow{:viewBox => "0 0 64 64"}
						%use{"xlink:href" => "#ui_arrow"}
		.accordian_body
			.wrap_content
				%ul
					%li This insurance reimburses travel costs if the travel plans are cancelled prior to departure, or if they are disrupted after the trip has begun.
					%li Maximum coverage - Up to sum insured for trip cancellation or up to $25,000 (CAD) for trip interruption.
					%li The Insured must be a Canadian resident.
					%li Covered risks include: unexpected sickness, injury and/or death of the Insured, or travelling companion, the Insured's immediate family or of the Insured's travelling companion's immediate family, natural disaster, travel advisory, subpoena, involuntary job loss, missed connection, the non-issuance of a travel visa and more.